{% extends "base.html" %}

{% block title %} 400! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"> Ошибка 400! </div>
            <div class="card-body">
                <h5 class="card-title"> Что-то пошло не так :(</h5>
                <p class="card-text">
                    Скорее всего, Вы смогли отправить нам пустую форму. Что ж, мы уже в курсе происходящего.
                    А Вы просто попробуйте еще раз. Советуем все-таки не отправлять нам пустоту :)
                </p>
                <div class="text-center">
                    <a class="btn btn-warning" href="/"> Главная </a>
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-warning" href="/account">{{ current_user.login }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}