{% extends "base.html" %}

{% block title %} 404! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"> Ошибка 404! </div>
            <div class="card-body">
                <h5 class="card-title"> Что-то пошло не так :(</h5>
                <p class="card-text">
                    Кажется, вы немного заблудились. Ничего, бывает. Давайте мы Вам немного поможем.
                    Можете перейти на главную, оттуда легко добраться до любого кусочка сайта.
                </p>
                <div class="text-center">
                    <a class="btn btn-warning" href="/"> Главная </a>
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-warning" href="/account">{{ current_user.login }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}