{% extends "base.html" %}

{% block title %} 503! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"> Ошибка 503! </div>
            <div class="card-body">
                <h5 class="card-title"> Что-то пошло не так :(</h5>
                <p class="card-text">
                    У нас что-то пошло не так. Это ошибка на нашем сервере. Можете не сомневаться, что мы уже пинаем наших
                    разработчиков и ругаемся на сервер. Скоро все исправим.
                </p>
                <div class="text-center">
                    <a class="btn btn-warning" href="/"> Главная </a>
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-warning" href="/account">{{ current_user.login }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}