{% extends "base.html" %}

{% block title %} 504! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"> Ошибка 504! </div>
            <div class="card-body">
                <h5 class="card-title"> Что-то пошло не так :(</h5>
                <p class="card-text">
                    Вы просто невероятный везунчик! Тут два варианта: либо проблема с нашим сервером и кодом,
                    либо у Вас не очень хороший интернет. Проверьте кабель или роутер. А мы пошли кормить наших разработчиков.
                    Скоро все исправим.
                </p>
                <div class="text-center">
                    <a class="btn btn-warning" href="/"> Главная </a>
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-warning" href="/account">{{ current_user.login }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}