{% extends "base_admin.html" %}

{% block title %} Брутфорс {% endblock %}

{% block admin_tab %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Панель админа
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a href="/error/show/404" class="dropdown-item"> Ошибка 404 </a>
            <a href="/error/show/users" class="dropdown-item"> Пользовательские ошибки </a>
            <a href="/error/show/server" class="dropdown-item"> Ошибки сервера </a>
            <a href="/error/show/brutforce" class="dropdown-item active"> Брутфорс </a>
            <a href="/show/support" class="dropdown-item"> Поддержка </a>
        </div>
    </li>
{% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 25px;
            cursor: pointer;
        }
        #target{
            white-space: pre-line;
        }
        #target:after{
            content: '|';
	        animation: cursor .1s linear infinite;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="text-danger text-center">{{ error_text }}</p>
                        <p class="text-success text-center">{{ success_text }} </p>
                        <form action="/error/show/brutforce" method="POST" name="find-team">
                            <div class="form-group text-center">
                                <label for="team">ID или название команды</label>
                                <input id="team" type="text" name="team" class="form-control">
                                <br>
                                <input class="btn btn-success" type="submit" value="Найти" name="find-team">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="text-center text-danger">{{ error_text2 }}</p>
                        <p class="text-center text-success">{{ success_text2 }} </p>
                        <form action="/error/show/brutforce" method="POST" name="find-room">
                            <div class="form-group text-center">
                                <label for="room-id"> ID комнаты </label>
                                <input id="room-id" type="text" name="room-id" class="form-control">
                                <br>
                                <input class="btn btn-success" type="submit" value="Найти" name="find-room">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div id="target">Your message will be typed out here!</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% if graphic_team %}
            <br>
            <div class="card">
                <div class="card-body">
                    <canvas id="line-chart" width="800" height="450"></canvas>
                </div>
            </div>
        {% elif graphic_room %}
            <br>
            <div class="card">
                <div class="card-body">
                    <canvas id="line-chart-room" width="800" height="450"></canvas>
                </div>
            </div>
        {% endif %}
        <br>
        <div class="card text-white bg-dark mb-3">
            <div class="card-header"> Привет! </div>
            <div class="card-body">
                <h5 class="card-title"> Все попытки </h5>
                {% for i in attempts %}
                    <p class="white-text">
                        <span class="text-primary">/~ </span> {% if i.success %} <span class="text-success"> SUCCESS </span>
                    {% else %} <span class="text-danger"> FAILED</span>{% endif %}
                        <span class="text-primary">[</span><span class="text-success">{{ i.time }}</span><span class="text-primary">]</span>
                        >> {% if i.success %} <span class="text-success">answer</span> {% else %}<span class="text-danger">answer </span>{% endif %}<span class="text-success">{{ i.content }}</span>
                        >> <span class="text-primary">{</span><span class="text-success">quest</span> : <span class="text-success">{{ i.id_quest }}</span>, <span class="text-success">room</span> : <span class="text-success">{{ i.id_room }}</span><span class="text-primary">}</span>
                        >> {% if i.type == 'QUEST' %} <span class="text-success">FINISH</span> {% else %} <span class="text-danger"> ROOM </span> {% endif %}
                        >> {{ i.team }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
<script src="{{ url_for('static', filename='js/typeText.js') }}"></script>
<script>
    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
            labels: [{% for i in range(24) %} '{{ i }}', {% endfor %}],
                datasets: [{
                    data: [{% for i in numbers_team %} '{{ i }}', {% endfor %}],
                    label: "Количество попыток",
                    backgroundColor: "#c45850",
                    borderColor: "#c45850",
                    fill: false
                  }
            ]
      },
      options: {
        title: {
            display: true,
            fontSize: 20,
            text: 'Попытки команды'
        },
        labels: {
            padding: 20
        }
      }
    });
</script>

<script>
    new Chart(document.getElementById("line-chart-room"), {
      type: 'line',
      data: {
            labels: [{% for i in range(24) %} '{{ i }}', {% endfor %}],
                datasets: [{
                    data: [{% for i in numbers_room %} '{{ i }}', {% endfor %}],
                    label: "Количество попыток",
                    backgroundColor: "#3e95cd",
                    borderColor: "#3e95cd",
                    fill: false
                  }
            ]
      },
      options: {
        title: {
            display: true,
            fontSize: 20,
            text: 'Попытки сдать комнату'
        },
        labels: {
            padding: 20
        }
      }
    });
</script>
</main>
{% endblock %}