{% extends "base.html" %}

{% block title %} Еще немного! {% endblock %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Еще рано!
        </div>
        <div class="card-body">
            <h5 class="card-title"> Соревнования еще не начались </h5>
            <p class="card-text"> До начала соревнований еще есть время! Вам стоит немного подождать. Можете попробовать написать в поддержку. Кто знает, может быть они Вам ответят? </p>
            <a href="/" class="btn btn-primary"> Главная </a>
            <a href="/account" class="btn btn-primary"> {{ current_user.login }} </a>
            <a href="/write/support" class="btn btn-success"> Написать в поддержку </a>
        </div>
        <div class="card-footer text-muted">
            Удачи!
        </div>
    </div>
</div>
{% endblock %}