{% extends "base.html" %}

{% block title %} Упс! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"> Ошибка! </div>
            <div class="card-body">
                <h5 class="card-title"> Этот квест не доделан :(</h5>
                <p class="card-text">
                    У этого варианта ответа еще нет назначения. Вы можете написать его создателю, чтобы он его закончил. Нам очень жаль, что так вышло.
                </p>
                <div class="text-center">
                    <a class="btn btn-warning" href="/quests"> Квесты </a>
                    <a class="btn btn-warning" href="{{ url_for('api.ShowOtherUser', login=user.login)}}">{{ user.login }}</a>
                    <a class="btn btn-warning" href="{{ url_for('api.ShowTeamToUser', id=quest.creator_team_id) }}"> Команда создателей </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
