{% extends "base.html" %}

{% block title %} Нет-нет {% endblock %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            У Вас еще идут соревнования!
        </div>
        <div class="card-body">
            <h5 class="card-title"> Пока нельзя </h5>
            <p class="card-text">
                Сначала надо закончить все активные соревнования, потому что иначе будет все очень плохо. Пока идут одни соревнования, другие начинать нельзя.
            </p>
            <a href="/" class="btn btn-primary"> Главная </a>
            <a href="/account" class="btn btn-primary"> {{ current_user.login }} </a>
        </div>
        <div class="card-footer text-muted">
            Удачи!
        </div>
    </div>
</div>
{% endblock %}