{% extends "base.html" %}

{% block title %} Упс! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"> Нет-нет! </div>
            <div class="card-body">
                <h5 class="card-title"> У Вас нет прав на исполнение этого действия </h5>
                <p class="card-text">
                    У Вас нет прав на исполнение этого действия. Что ж, Вы в любой момент можете написать нам в
                    поддержку. Мы ответим и попробуем разобраться, в чем дело.
                </p>
                <div class="text-center">
                    <a class="btn btn-warning" href="/"> Главная </a>
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-warning" href="/account">{{ current_user.login }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
