{% extends "base_admin.html" %}

{% block title %} Отчет 404 {% endblock %}

{% block admin_tab %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Панель админа
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a href="/error/show/404" class="dropdown-item active"> Ошибка 404 </a>
            <a href="/error/show/users" class="dropdown-item"> Пользовательские ошибки </a>
            <a href="/error/show/server" class="dropdown-item"> Ошибки сервера </a>
            <a href="/error/show/brutforce" class="dropdown-item"> Брутфорс </a>
            <a href="/show/support" class="dropdown-item"> Поддержка </a>
        </div>
    </li>
{% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 25px;
            cursor: pointer;
        }
        #target{
            white-space: pre-line;
        }
        #target:after{
            content: '|';
	        animation: cursor .1s linear infinite;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="target">Your message will be typed out here!</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        Всего ошибок 404 >> <span class="font-weight-bold">{{ errors|length }}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-panel white">
                            <canvas id="line-chart" width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card text-white bg-dark mb-3">
            <div class="card-header"> Привет! </div>
            <div class="card-body">
                <h5 class="card-title"> Все ошибки </h5>
                {% for i in errors %}
                    <p class="white-text">
                        <span class="text-primary">/~ </span> <span class="text-success">GET</span> >> <span class="text-primary">[</span><span class="text-success">{{ i.time }}</span><span class="text-primary">]</span> >> {{ i.error }} <span class="text-danger">{{ i.page }}</span> >> <a class="text-success" href="{{ url_for('api.ShowOtherUser', login=i.user) }}">{{ i.user }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
<script src="{{ url_for('static', filename='js/typeText.js') }}"></script>
<script>
    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
            labels: [{% for i in range(24) %} '{{ i }}', {% endfor %}],
                datasets: [{
                    data: [{% for i in data_404 %} '{{ i }}', {% endfor %}],
                    label: "404",
                    backgroundColor: "#c45850",
                    borderColor: "#c45850",
                    fill: false
                  }, {
                    data: [{% for i in data_server %} '{{ i }}', {% endfor %}],
                    label: 'Сервер',
                    backgroundColor: "#3cba9f",
                    borderColor: "#3cba9f",
                    fill: false
                }, {
                    data: [{% for i in data_users %} '{{ i }}', {% endfor %}],
                    label: 'Пользователи',
                    backgroundColor: "#8e5ea2",
                    borderColor: "#8e5ea2",
                    fill: false
                }
            ]
      },
      options: {
        title: {
            display: true,
            fontSize: 20,
            text: 'Ошибки'
        },
        labels: {
            padding: 20
        }
      }
    });
</script>
</main>
{% endblock %}