{% extends "base_admin.html" %}

{% block title %} Поддержка {% endblock %}

{% block admin_tab %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Панель админа
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a href="/error/show/404" class="dropdown-item"> Ошибка 404 </a>
            <a href="/error/show/users" class="dropdown-item"> Пользовательские ошибки </a>
            <a href="/error/show/server" class="dropdown-item"> Ошибки сервера </a>
            <a href="/error/show/brutforce" class="dropdown-item"> Брутфорс </a>
            <a href="/show/support" class="dropdown-item active"> Поддержка </a>
        </div>
    </li>
{% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 25px;
            cursor: pointer;
        }
        #target{
            white-space: pre-line;
        }
        #target:after{
            content: '|';
	        animation: cursor .1s linear infinite;
        }

        .non-hover:hover{
            background-color: white !important;
        }

        .hover-okay{
          background-color: lightgrey !important;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        Всего писем >> <span class="font-weight-bold"> {{ mail|length }} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="target">Your message will be typed out here!</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <table class="table table-hover">
            <tr>
                <th scope="col" class="text-center"> <span class="badge badge-secondary">Статус</span> </th>
                <th scope="col"> Название </th>
                <th scope="col"> Письмо </th>
                <th scope="col"> Автор </th>
                <th scope="col"> Время</th>
            </tr>

            {% for m in mail %}
                {% if not m.is_read %}
                    <tr>
                        <td class="text-center"><a href="{{ url_for('api.AnswerSupport', id_mail=m.id) }}"><span class="badge badge-danger"> Новое </span></a></td>
                        <td><a class="black-text" href="{{ url_for('api.AnswerSupport', id_mail=m.id) }}"><strong>{{ m.title }}</strong></a></td>
                        <td><a class="grey-text text-darken-2" href="{{ url_for('api.AnswerSupport', id_mail=m.id) }}">{% if m.content|length > 30 %} {{ m.content[:30] + '...' }} {% else %} {{ m.content }} {% endif %}</a></td>
                        <td><strong><a class="black-text" href="{{ url_for('api.ShowOtherUser', login=m.author) }}">{{ m.author }}</a></strong></td>
                        <td class="grey-text"> {{ m.time[:11] }}</td>
                    </tr>
                {% elif m.is_read %}
                    <tr>
                        <td class="text-center"><a href="{{ url_for('api.AnswerSupport', id_mail=m.id) }}"><span class="badge badge-success"> Прочитано </span></a></td>
                        <td><a class="black-text" href="{{ url_for('api.AnswerSupport', id_mail=m.id) }}"><strong>{{ m.title }}</strong></a></td>
                        <td><a class="grey-text" href="{{ url_for('api.AnswerSupport', id_mail=m.id) }}">{% if m.content|length > 30 %} {{ m.content[:30] + '...' }} {% else %} {{ m.content }} {% endif %}</a></td>
                        <td><span class="font-weight-bold"><a class="black-text" href="{{ url_for('api.ShowOtherUser', login=m.author) }}">{{ m.author }}</a></span></td>
                        <td class="grey-text"> {{ m.time[:11] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
<script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
<script src="{{ url_for('static', filename='js/typeText.js') }}"></script>
</main>
{% endblock %}