{% extends "base.html" %}

{% block title %} Упс! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"> Нет инвентаря! </div>
            <div class="card-body">
                <h5 class="card-title"> Что-то пошло не так :(</h5>
                <p class="card-text">
                    У Вас нет необходимого инвентаря для этой комнаты. Нам очень жаль, но Вам придется еще немного побродить по квесту. Удачи!
                </p>
                <div class="text-center">
                    <a class="btn btn-warning" href="/"> Главная </a>
                    <a class="btn btn-warning" href="/quests"> Квесты </a>
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-warning" href="/account">{{ current_user.login }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
