{% extends "base.html" %}

{% block title %} Личный кабинет {% endblock %}

{% block account_tab %}
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.login }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if current_user.photo != '0' %}
                <a class="dropdown-item" href="/account"><img src="{{ url_for('static', filename='photos/uploads/' + current_user.photo|string) }}" alt="Фото" class="img-fluid" style="width: 35px; border-radius: 50%; margin-right: 5px;"> Профиль </a>
            {% else %}
                <a class="dropdown-item" href="/account"> Профиль </a>
            {% endif %}
            <a class="dropdown-item" href="/edit/name"> Изменить пользователя </a>
            {% if current_user.role == 'admin' %}
                <a href="/error/show/404" class="dropdown-item"> Админская часть </a>
            {% endif %}
            {% if current_user.role == 'leader' %}
                <a href="/my/world/edit" class="dropdown-item"> Редактировать мой край </a>
            {% elif current_user.role == 'admin' %}
                <a href="/add/post" class="dropdown-item"> Добавить запись </a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout"> Выйти </a>
        </div>
    </li>
{% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 25px;
            cursor: pointer;
        }

        .icon-table{
            font-size: 1.5rem;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        <div class="card bg-light mb-3">
            <div class="card-header"> Привет, {{ current_user.name }}</div>
            <div class="card-body">
                <h3 class="card-title text-center"> Информация о Вас </h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Ваше имя </h5>
                                <p class="card-text">
                                    {{ current_user.name}}
                                </p>
                                <a href="/edit/name" class="btn btn-warning"> Изменить </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Ваша почта </h5>
                                <p class="card-text">
                                    {{ current_user.email }}
                                </p>
                                <a href="/edit/email" class="btn btn-warning">Изменить</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Ваш пароль </h5>
                                <p class="card-text">
                                    Мы шифруем пароли наших пользователей так, что их расшифровка невозможна.
                                </p>
                                <a href="/edit/password" class="btn btn-warning"> Изменить </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        {% if current_user.photo == '0' %}
                            <h4 class='text-center'> Поставьте себе аватарку! </h4>

                            <p style="color: red; font-size: 0.7rem;" class='center'>{{ error_text_photo }}</p>
                            <p style="color: green; font-size: 0.7rem;" class="center">{{ success_text }} </p>

                            <form action="/account" method="POST" name='avatar' enctype=multipart/form-data>
                                {{ form1.hidden_tag() }}

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name=file>
                                    <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                                </div>
                                <div>
                                    {% for error in form1.errors.file %}
                                        <p class="center"><span style="color: red; font-size: 0.7rem;">{{ error }}</span></p>
                                    {% endfor %}
                                </div>

                                <br>
                                <div class="text-center">
                                    {{ form1.submit_photo(class_='btn btn-primary', type='submit', value='Отправить')}}
                                </div>
                            </form>
                        {% else %}
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-title"> Ваша аватарка </h5>
                                    <img src="{{ url_for('static', filename='photos/uploads/' + current_user.photo|string) }}" alt="Ваша аватарка" class="img-fluid rounded" style="max-width: 50%;"><br><br>
                                    <a href="/edit/photo" class="btn btn-warning"> Изменить </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <hr>
                            <a class="btn btn-success btn-lg" href="/scoreboard"> Скорборд </a>
                            <hr>
                            {% if current_user.role == 'admin' %}
                                <a href="/quest/mark" class="btn btn-success btn-lg"> Оценить квесты </a>
                            {% else %}
                                <a class="btn btn-success btn-lg" href="/write/support"> Написать в поддержку </a>
                            {% endif %}
                            <hr>
                            {% if current_user.role == 'admin' %}
                                <a class="btn btn-success btn-lg" href="/users"> Пользователи </a>
                                <hr>
                                <a href="/error/show/users" class="btn btn-danger btn-lg"> Админская часть </a>
                                <hr>
                                <a href="/tournament/start" class="btn btn-primary"> Начать соревнования </a>
                                <a href="/tournament/finish" class="btn btn-primary"> Закончить соревнования </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center">
        <span class="text-danger">{{ error_text }}</span>
        <span class="text-danger">{{ error_text_photo }}</span>
        <span class="text-success">{{ success_text }}</span>
        <span class="text-success">{{ success_text2 }}</span>
    </p>

    <div class="container">
        <div class="accordion" id="accordionExample">
            {% if current_user.role == 'admin' %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span style="font-size: 1.5rem;"> Пользователи </span>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <span> Здесь Вы можете банить или разбанить пользователей. </span>
                            <br><br>
                            <table class='table table-hover'>
                                <tr>
                                    <th scope="col"> № </th>
                                    <th scope="col"> Имя </th>
                                    <th scope="col"> Логин </th>
                                    <th scope="col"> Роль </th>
                                    <th scope="col"> Забанить </th>
                                    <th scope="col"> Разбанить </th>
                                </tr>

                                {% for user in all_users %}
                                    <tr>
                                        <th scope="row">{{ user.id }}</th>
                                        <td>{{ user.name }}</td>
                                        <td><strong>{{ user.login }}</strong></td>
                                        {% if user.role == 'admin' %}
                                            <td class="text-success"> {{ user.role }} </td>
                                            <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                                            <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                                        {% elif user.role != 'admin' and user.role != 'ban' %}
                                            <td>{{ user.role }}</td>
                                            <td><a href="{{ url_for('api.BanUser', id = user.id) }}" class="text-danger"><i class="fas fa-times icon-table"></i></a></td>
                                            <td><a class='text-success' href="{{ url_for('api.UnbanUser', id = user.id) }}"><i class="fas fa-check icon-table"></i></a></td>
                                        {% elif user.role == 'ban' %}
                                            <td class="text-danger">{{ user.role }}</td>
                                            <td><a href="#" class="text-danger"><i class="fas fa-frown-open icon-table"></i></a></td>
                                            <td><a class='text-success' href="{{ url_for('api.UnbanUser', id = user.id) }}"><i class="fas fa-check icon-table"></i></a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                              </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span style="font-size: 1.5rem;"> Вожаки </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <span> Здесь Вы можете раздать права вожакам. </span>
                            <br><br>
                            <table class='table table-hover'>
                                <tr>
                                    <th scope="col"> № </th>
                                    <th scope="col"> Имя </th>
                                    <th scope="col"> Логин </th>
                                    <th scope="col"> Роль </th>
                                    <th scope="col"> Добавить </th>
                                    <th scope="col"> Удалить </th>
                                </tr>

                                {% for user in all_users %}
                                    <tr>
                                        <th scope="row">{{ user.id }}</th>
                                        <td>{{ user.name }}</td>
                                        <td><strong>{{ user.login }}</strong></td>
                                        {% if user.role == 'admin' %}
                                            <td class="green-text"> {{ user.role }} </td>
                                            <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                                            <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                                        {% elif user.role == 'leader' %}
                                            <td class="green-text">{{ user.role }}</td>
                                            <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                                            <td><a class='text-danger' href="{{ url_for('api.DeleteLeader', id = user.id) }}"><i class="fas fa-trash-alt icon-table"></i></a></td>
                                        {% elif user.role == 'user' %}
                                            <td>{{ user.role }}</td>
                                            <td><a class="text-success" href="{{ url_for('api.AddLeaderPage', id=user.id) }}"><i class="fas fa-plus icon-table"></i></a></td>
                                            <td></td>
                                        {% elif user.role == 'ban' %}
                                            <td class="red-text">{{ user.role }}</td>
                                            <td><a href="#" class="text-danger"><i class="fas fa-frown-open icon-table"></i></a></td>
                                            <td><a href="#" class="text-danger"><i class="fas fa-frown-open icon-table"></i></a></td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span style="font-size: 1.5rem;"> Админы </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <span> Здесь Вы можете раздать права администратора. Помните, что только самые достойные имеют право иметь роль админа! :) </span>
                            <br><br>
                            <table class='table table-hover'>
                                <tr>
                                    <th scope="col"> № </th>
                                    <th scope="col"> Имя </th>
                                    <th scope="col"> Логин </th>
                                    <th scope="col"> Роль </th>
                                    <th scope="col"> Добавить </th>
                                    <th scope="col"> Удалить </th>
                                </tr>

                                {% for user in all_users %}
                                    <tr>
                                        <th scope="row">{{ user.id }}</th>
                                        <td>{{ user.name }}</td>
                                        <td><strong>{{ user.login }}</strong></td>
                                        {% if user.role == 'admin' %}
                                            {% if user.login == current_user.login %}
                                                <td class="text-success"> {{ user.role }} </td>
                                                <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                                                <td><a href="{{ url_for('api.DeleteAdmin', id=user.id) }}" class="text-danger"><i class="fas fa-trash-alt icon-table"></i></a></td>
                                            {% else %}
                                                <td class="text-success"> {{ user.role }} </td>
                                                <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                                                <td></td>
                                            {% endif %}
                                        {% elif user.role == 'user' or user.role == 'leader' %}
                                            <td>{{ user.role }}</td>
                                            <td><a href="{{ url_for('api.AddAdmin', id = user.id) }}" class="text-success"><i class="fas fa-plus icon-table"></i></a></td>
                                            <td></td>
                                        {% elif user.role == 'ban' %}
                                            <td class="red-text">{{ user.role }}</td>
                                            <td><a href="#" class="text-danger"><i class="fas fa-frown-open icon-table"></i></a></td>
                                            <td><a href="#" class="text-danger"><i class="fas fa-frown-open icon-table"></i></a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if current_user.role == 'admin' or current_user.role == 'leader' %}
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span style="font-size: 1.5rem;"> Создать команду </span>
                            </button>
                        </h5>
                    </div>
                    <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <span> Здесь Вы можете создать команду. </span>
                            <br><br>

                            <div class="container">
                                <form action="/account" method="POST" name='createteam'>
                                    {{ form.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <label for="input1"> Название команды </label>
                                            {{ form.name(class_='form-control', id='input1', placeholder='Введите название') }}
                                            <small id="emailHelp" class="form-text text-muted"> Придумайте какое-нибудь супер-пупер запоминающееся название! </small>
                                            <br>
                                            {% for error in form.errors.name %}
                                                <span style="color: red; font-size: 0.7rem;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <label for="input2"> Край команды </label>
                                            <select id="input2" class="form-control" required name="select_region">
                                                <option value="" disabled selected>Выберите край</option>
                                                <option value="1">Математики</option>
                                                <option value="2">Физики и химики</option>
                                                <option value="3">Астрономы</option>
                                                <option value="4">Спортсмены</option>
                                                <option value="5">Игроки</option>
                                                <option value="6">Географы и историки</option>
                                                <option value="7">Биологи и генетики</option>
                                                <option value="8">Тролли</option>
                                                <option value="9">Программисты</option>
                                                <option value="10">Взломщики</option>
                                                <option value="11">Оккультисты</option>
                                                <option value="12">Творцы</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class='text-center'>
                                        {{ form.submit_team(class_='btn btn-success', type='submit', value='Создать команду')}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <span style="font-size: 1.5rem;"> Оценить квесты </span>
                            </button>
                        </h5>
                    </div>
                    <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            <span> Здесь надо оценивать квесты </span>
                            <br><br>
                            <table class='table table-hover'>
                                <tr>
                                    <th scope="col"> № </th>
                                    <th scope="col"> Название </th>
                                    <th scope="col"> Рейтинг автора </th>
                                    <th scope="col"> Рейтинг вожаков </th>
                                    <th scope="col"> Изменить </th>
                                </tr>

                                {%  for q in all_quests %}
                                    <tr>
                                        <th scope="row">{{ q.id }}</th>
                                        <td><a href="{{ url_for('api.SingleQuestPage', id=q.id) }}">{{ q.name }}</a></td>
                                        <td>{{ q.rating }}</td>
                                        <form action="/account" method="POST" name="add">
                                            <td>
                                                <input class="form-control" type="text" name="rating-leader" value={{ q.rating_from_leader }}>
                                                <input type="text" name="quest-id" style="display: none;" value={{ q.id }}>
                                            </td>
                                            <td><input class="btn btn-success" type="submit" value="Изменить" name="make-changes"></td>

                                        </form>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <span style="font-size: 1.5rem;"> Скорборд </span>
                        </button>
                    </h5>
                </div>
                <div class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <span> Здесь Вы можете увидеть сколько очков у каждой команды. <a href="/scoreboard"> На отдельную страницу скорборда?</a></span>
                        <br><br>
                        <table class="table table-hover">
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Команда</th>
                                <th scope="col">Очки</th>
                            </tr>

                            {% for i in range(final|length) %}
                                <tr>
                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>{{ final[i][1] }}</td>
                                    <td>{{ final[i][0] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <span style="font-size: 1.5rem;"> Моя команда </span>
                        </button>
                    </h5>
                </div>
                <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        {% if current_user.team_id == 0 %}
                            <span>
                                У Вас пока нет команды. Вы можете выбрать себе команду или найти команду Ваших друзей
                                на вкладке <a href="/teams">всех команд</a>.
                                Не пугайтесь и смело переходите!
                            </span>
                        {% else %}
                            <div class="card bg-light mb-3">
                                <div class="card-header"> Моя команда </div>
                                <div class="card-body">
                                    <h3 class="card-title text-center"> {{ team.name }} </h3>
                                    {% if team.photo != '0' %}
                                        <img src="{{ url_for('static', filename='photos/uploads/' + team.photo) }}" alt="Аватарка" class="img-fluid" style="width: 100px;">
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <ul class="list-group">
                                                <li class="list-group-item"><span class="text-secondary"> Край </span> {{ team.region }}</li>
                                                <li class="list-group-item"><span class="text-secondary"> Создатель </span> <a href="{{ url_for('api.ShowOtherUser', login=team.creator)}}">{{ team.creator }}</a></li>
                                                {% if current_user.login == team.creator %}
                                                    <li class="list-group-item"><span class="text-secondary"> Код </span> {{ team.password }} </li>
                                                {% endif %}
                                            </ul>
                                            <br>
                                            <div class="text-center">
                                                <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}" class="btn btn-primary"> Страница команды </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
{% endblock %}