{% extends "base.html" %}

{% block title %} Добавить вожака {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4> <span class="text-secondary"> Кто </span> {{  client.login }}</h4>
                <p class="text-danger">
                    {{ error_text_string }}
                </p>
                <form action="{{ '/admin/leader/' + client.id|string }}" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> Выберите край: </label>
                        <select class="form-control" id="exampleFormControlSelect1" required name="select_region_for_leader">
                            <option value="1">Математики</option>
                            <option value="2">Физики и химики</option>
                            <option value="3">Астрономы</option>
                            <option value="4">Спортсмены</option>
                            <option value="5">Игроки</option>
                            <option value="6">Географы и историки</option>
                            <option value="7">Биологи и генетики</option>
                            <option value="8">Тролли</option>
                            <option value="9">Программисты</option>
                            <option value="10">Взломщики</option>
                            <option value="11">Оккультисты</option>
                            <option value="12">Творцы</option>
                        </select>
                    </div>
                    <input class="btn btn-success" type="submit" value="Добавить" name="make-new-leader">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}