{% extends 'base.html' %}
{% block title %} Ответить на письмо {% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <a href="/mail" class="btn btn-primary"> Назад к почте </a>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"><h3 class="text-secondary"> From </h3></div>
                    <div class="col-md-10"><h3><a href="{{ url_for('api.ShowOtherUser', login=mail.author) }}">{{ mail.author }}</a></h3><h6 class="text-secondary font-italic">{{ mail.time }}</h6></div>
                </div>

                <div class="row">
                    <div class="col-md-2"><h4 class="text-secondary"> Text </h4></div>
                    <div class="col-md-10">
                        <p style="font-size: 1.25rem;">
                            {{ mail.content }}
                        </p>
                    </div>
                </div>

                {% if mail.photo != '0' %}
                    <div class="row">
                        <div class="col-md-2">
                            <h4 class="text-secondary"> Photo </h4>
                        </div>
                        <div class="col-md-10">
                            <img src="{{ url_for('static', filename='photos/uploads/' + mail.photo) }}" alt="Фотография" class="responsive-img myBorderBlack size-room-image">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="card">
            <div class="card-body">
                <h4> Ответ на письмо </h4>
                    <form action="{{'/mail/' + mail.id|string }}" method="POST" name="answer-kek" enctype=multipart/form-data>
                        {{ form.hidden_tag() }}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="input1"> Введите тему </label>
                                {{ form.title(class_='form-control', type='text', id='input1', placeholder='Тема письма') }}
                                {% for error in form.errors.title %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                <label> Прикрепите фотографию </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name=file>
                                    <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                                </div>
                                {% for error in form.errors.file %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input3"> Напишите ответ на письмо </label>
                            {{ form.content(class_='form-control', id='input3', placeholder='Напишите что-нибудь...') }}
                            {% for error in form.errors.content %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class='text-center'>
                            <input type="submit" class="btn btn-success" value="Отправить">
                        </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}