{% extends 'base_admin.html' %}
{% block title %} Ответить на письмо {% endblock %}

{% block admin_tab %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Панель админа
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a href="/error/show/404" class="dropdown-item"> Ошибка 404 </a>
            <a href="/error/show/users" class="dropdown-item"> Пользовательские ошибки </a>
            <a href="/error/show/server" class="dropdown-item"> Ошибки сервера </a>
            <a href="/error/show/brutforce" class="dropdown-item"> Брутфорс </a>
            <a href="/show/support" class="dropdown-item"> Поддержка </a>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <a href="/show/support" class="btn btn-primary"> Назад к всем письмам </a>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"><h3 class="text-secondary"> From </h3></div>
                    <div class="col-md-10"><h3><a href="{{ url_for('api.ShowOtherUser', login=mail.author) }}">{{ mail.author }}</a></h3><h6 class="text-secondary font-italic">{{ mail.time }}</h6></div>
                </div>

                <div class="row">
                    <div class="col-md-2"><h4 class="text-secondary"> Text </h4></div>
                    <div class="col-md-10">
                        <p style="font-size: 1.25rem;">
                            {{ mail.content }}
                        </p>
                    </div>
                </div>

                {% if mail.photo != '0' %}
                    <div class="row">
                        <div class="col-md-2">
                            <h4 class="text-secondary"> Photo </h4>
                        </div>
                        <div class="col-md-10">
                            <img src="{{ url_for('static', filename='photos/uploads/' + mail.photo) }}" alt="Фотография" class="responsive-img myBorderBlack size-room-image">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-body">
                <h3> Ваш ответ </h3>
                <form action="{{'/support/mail/' + mail.id|string }}" method="POST" name="answer-lol">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="input1"> Заголовок </label>
                        {{ form.title(class_='form-control', id='input1', placeholder='Напишите заголовок') }}
                        {% for error in form.errors.title %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="input2"> Напишите что-нибудь </label>
                        {{ form.content(class_='form-control', id='input2', placeholder='Напишите что-нибудь...') }}
                        {% for error in form.errors.content %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>

                    <div class="text-center">
                        <input type="submit" class="btn btn-success" value="Ответить">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}