<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/JQuery3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/compyleJSBootstrap.js') }}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/Chart.js-2.7.2/dist/Chart.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='photos/project/monkey.png') }}" type="image/png"/>
    <script src="{{ url_for('static', filename='js/JQuery1.7.1.js') }}"></script>
    <title>{%  block title %} {% endblock %}</title>
    {%  block head %}{%  endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand"><span style="font-size: 2rem;"><i class="fas fa-globe-asia"></i></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% block main_tab %}<li class="nav-item"><a class="nav-link" href="/"> Главная </a></li>{% endblock %}
                    {% block tournament_tab %}<li class="nav-item"><a class="nav-link" href="/tournament"> Соревнования </a></li>{% endblock %}
                    {% block scoreboard_tab %}<li class="nav-item"><a class="nav-link" href="/scoreboard"> Скорборд </a></li>{% endblock %}
                    {% block team_tab %}<li class="nav-item"><a class="nav-link" href="/teams"> Команды </a></li>{% endblock %}
                    {% if current_user.is_authenticated %}
                        {% block quests_tab %}<li class="nav-item"><a class="nav-link" href="/quests"> Квесты </a></li>{% endblock %}
                        {% block news_tab %}<li class="nav-item"><a class="nav-link" href="/news"> Новости </a></li>{% endblock %}
                        {% block mail_tab %}<li class="nav-item"><a class="nav-link" href="/mail"> Почта </a></li>{% endblock %}
                        {% block account_tab %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ current_user.login }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if current_user.photo != '0' %}
                                        <a class="dropdown-item" href="/account"><img src="{{ url_for('static', filename='photos/uploads/' + current_user.photo|string) }}" alt="Фото" class="img-fluid" style="width: 35px; border-radius: 50%; margin-right: 5px;"> Профиль </a>
                                    {% else %}
                                        <a class="dropdown-item" href="/account"> Профиль </a>
                                    {% endif %}
                                    <a class="dropdown-item" href="/edit/name"> Изменить пользователя </a>
                                    {% if current_user.role == 'admin' %}
                                        <a href="/error/show/404" class="dropdown-item"> Админская часть </a>
                                        <a href="/my/world/edit" class="dropdown-item"> Редактировать мой край </a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout"> Выйти </a>
                                </div>
                            </li>
                        {% endblock %}
                        {% block admin_tab %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Панель админа
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <a href="/error/show/404" class="dropdown-item"> Ошибка 404 </a>
                                    <a href="/error/show/users" class="dropdown-item"> Пользовательские ошибки </a>
                                    <a href="/error/show/server" class="dropdown-item"> Ошибки сервера </a>
                                    <a href="/error/show/brutforce" class="dropdown-item"> Брутфорс </a>
                                    <a href="/show/support" class="dropdown-item"> Поддержка </a>
                                </div>
                            </li>
                        {% endblock %}
                    {% else %}
                        {% block login_tab %}<li class="nav-item"><a class="nav-link" href="/login">Войти</a></li>{% endblock %}
                        {% block reg_tab %}<li class="nav-item"><a class="nav-link" href="/reg"> Зарегистрироваться </a></li>{% endblock %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <br>
    {% block content %} {% endblock %}

    {% block footer %}
        <footer class="my-3 pt-3 text-muted text-center text-small">
            <p class="mb-1">&copy; 2018 Twelve Monkeys</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://monkeywiki.informatics.ru/index.php?title=%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0"> WIKI </a></li>
                <li class="list-inline-item"><a href="/contact"> Авторы </a></li>
                <li class="list-inline-item"><a href="/write/support"> Задать вопрос </a></li>
            </ul>
        </footer>
    {% endblock %}
</body>
</html>