{% extends "base.html" %}
{% block title  %} О создателях {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center"> Разработчики проекта </h2>
                <p class="text-center">
                    <img src="{{ url_for('static', filename='photos/project/boy_red.svg') }}" alt="Иконочка" style="width: 15%;">
                </p>
                <p class="text-center">
                    Привет. Мы вообще очень рады, что Вы решили сюда зайти. Вам либо что-то уж очень не понравилось и мы скоро
                    решим Вашу проблему, либо Вам понравилось и захотелось немного поболтать с нами.
                </p>
                <p class="text-center">
                    <strong><a class="black-text" href="https://vk.com/a.koritsa" target="_blank">Корицкий Александр</a></strong> и
                    <strong><a class="black-text" href="https://vk.com/sd.denisoff" target="_blank"> Денисов Степан</a></strong>. Это мы.
                    По клику найдете наш вк, а там можете прислать смешную картинку или рассказать нам,
                    чего не хватает в нашей системе.
                </p>
                <p class="text-right">
                    <strong>С любовью к Вам, <br>
                        Разработчики</strong>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}