{% extends "base.html" %}

{% block title %} Создание комнаты {% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3> Создание комнаты </h3>
                    <form id="add_room_form" method="POST" enctype=multipart/form-data>
                        {{ form.csrf_token }}
                        <div class="form-row">
                            <div class="form-group {% if form.errors.get('title') %}has-error{% endif %} col-md-6">
                                <label class="control-label">Название</label>
                                <input class="form-control"
                                   type="text"
                                   name="title"
                                   value="{% if form.title.data %}{{ form.title.data }}{% endif %}" />
                            </div>

                            <div class="form-group {% if form.errors.get('question') %}has-error{% endif %} col s6">
                                <label class="control-label">Вопрос</label>
                                    <textarea class="form-control materialize-textarea" name="question">
                                        {%- if form.question.data -%}
                                            {{- form.question.data -}}
                                        {%- endif -%}
                                    </textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 offset-md-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name=file>
                                    <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                                </div>
                                <div>
                                    {% for error in form.errors.file %}
                                        <p class="center"><span style="color: red; font-size: 0.7rem;">{{ error }}</span></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group {% if form.errors.get('thing_to_user') %}has-error{% endif %} col-md-4">
                                <label class="control-label">Инвентарь, который получит команда</label>
                                <input class="form-control"
                                   type="text"
                                   name="thing_to_user"
                                   value="{% if form.thing_to_user.data %}{{ form.thing_to_user.data }}{% endif %}" />
                            </div>


                            <div class="form-group {% if form.errors.get('thing_to_enter') %}has-error{% endif %} col-md-4">
                                <label class="control-label">Инвентарь, который надо иметь команде</label>
                                <input class="form-control"
                                   type="text"
                                   name="thing_to_enter"
                                   value="{% if form.thing_to_enter.data %}{{ form.thing_to_enter.data }}{% endif %}" />
                            </div>

                            <div class="form-group col-md-4">
                                <label for="input2">Это финишная комната?</label>
                                <select id="input2" required name="select-finish" class="form-control">
                                    <option value="False" selected>Нет</option>
                                    <option value="True">Да</option>
                                </select>
                            </div>
                        </div>

                        <input type="hidden" name="answers" />

                        <div id="answers">
                            <div class="form-row">
                                <div class="col-md-6 offset-md-3">
                                    <div class="form-group {% if form.errors.get('answers') %}has-error{% endif %}">
                                        <label>Вариант ответа №<span>1</span></label>
                                        <input type="text" class="form-control answer_field">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <input id="add_answer" class="btn btn-success" type="button" value="Добавить вариант ответа" />
                        </div>

                        {% if form.errors|length %}
                            <p class="text-danger text-center">Ошибка заполнения формы</p>
                        {% endif %}

                        <div class="form-group text-center">
                            <input class="btn btn-lg btn-primary" type="submit" value="Создать комнату" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src='{{ url_for("static", filename="js/add_answer.js") }}'></script>
{% endblock %}