{% extends "base.html" %}

{% block title %} Соревнование {% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='js/Chart.js-2.7.2/dist/Chart.js') }}"></script>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Соревнования #{{ tournament.id }}!</h1>
        <p class="lead">
            Эти соревнования начались в  <strong>{{ tournament.start }}</strong>, а закончились в <strong>{{ tournament.end }}</strong>.
            В них участвовало {{ tournament.teams }} команд. Именно про эту величайшую схватку мы и будем рассказывать здесь!
        </p>
        <hr class="my-4">
        <p>
            Здесь просто есть скорборд соревнований, самые популярные квесты и Вы сможете просто поздравить победителя!
        </p>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center"> Сколько очков у первых пяти команд </h3>
            <canvas class="card-img-top" id="bar-chart" width="800" height="300"></canvas>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"> Первая команда </a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"> Вторая команда </a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"> Третья команда </a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    Победителем этих соревнований стала команда <strong>{{ firstTeam.name }}</strong>. Эта команда из края <strong>{{ firstTeam.region }}</strong>.
                    Вы можете зайти на их страницу и поздравить с победой их создателя. Они опередели ближайшего преследователя на <strong>{{ winners[0][0]|int - winners[1][0]|int }}</strong> очка!
                    <br>
                    <a href="{{ url_for('api.ShowTeamToUser', id=firstTeam.id) }}" class="btn btn-primary"> Страница команды {{ firstTeam.name }} </a>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    Почетное второе место соревнований заняла команда <strong>{{ secondTeam.name }}</strong>.
                    Команда базируеся в краю <strong>{{ secondTeam.region }}</strong>. Админ думает, что они заслуживают Вашего внимания.
                    Заходите на их страницу, чтобы поздравить их!
                    <br>
                    <a href="{{ url_for('api.ShowTeamToUser', id=secondTeam.id) }}" class="btn btn-primary"> Страница команды {{ secondTeam.name }} </a>
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    Третье место заняла команда <strong>{{ thirdTeam.name }}</strong>. Этой команде из края <strong>{{ thirdTeam.region }}</strong> не хватило всего лишь <strong>{{ winners[1][0]|int - winners[2][0]|int }}</strong> очков.
                    Поздравьте ребят, ведь они заслужили этого своим трудом!
                    <br>
                    <a href="{{ url_for('api.ShowTeamToUser', id=thirdTeam.id) }}" class="btn btn-primary"> Страница команды {{ thirdTeam.name }} </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="text-center card-title"> Лучшие квесты этого соревнования </h3>
            <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
        </div>
    </div>
    <br>
    <p class="text-center">
        <img src="{{ url_for('static', filename='photos/project/cup.svg') }}" alt="Иконочка" style="width: 15%;">
    </p>
</div>

<script>
// Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: [{% if winners|length < 5 %} {% for i in range(winners|length) %} '{{ winners[i][1] }}', {% endfor %} {% else %} {% for i in range(5) %} '{{ winners[i][1] }}', {% endfor %} {% endif %}],
      datasets: [
        {
          label: "Очков",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [{% for i in range(5) %} '{{ winners[i][0] }}', {% endfor %}]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true
      }
    }
});

new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: [{% if likes|length < 10 %} {% for i in range(likes|length) %} '{{ likes[i][1] }}', {% endfor %} {% else %} {% for i in range(10) %} '{{ likes[i][1] }}', {% endfor %} {% endif %}],
      datasets: [
        {
          label: "Рейтинг",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [{% if likes|length < 10 %} {% for i in range(likes|length) %} '{{ likes[i][0] }}', {% endfor %} {% else %} {% for i in range(10) %} '{{ likes[i][0] }}', {% endfor %} {% endif %}]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true
      }
    }
});
</script>
{% endblock %}