{% extends "base.html" %}

{% block title %} Ура! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-success mb-3">
            <div class="card-header"> Ура! </div>
            <div class="card-body">
                <h5 class="card-title"> Вы завершили этот квест! </h5>
                <p class="card-text">
                    Мы вас поздравляем, ведь вы завершили квест "{{ quest.name }}"! Теперь Вы можете оценить этот квест, похвастаться друзьям, взглянуть на таблицу, немного отдохнуть или пойти на поиски решения еще одного квеста. Удачи!
                </p>
                <p class="text-center">
                    <i class="fas fa-smile" style="font-size: 3rem;"></i>
                </p>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a href="{{ url_for('api.LikeQuest') }}" class="btn btn-danger btn-lg">Поставить лайк</a>
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="{{ url_for('api.DislikeQuest') }}" class="btn btn-danger btn-lg">Поставить дизлайк</a>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <a class='btn btn-primary' href="/"> Главная </a>
                    <a class='btn btn-primary' href="/quests"> Квесты </a>
                    <a class='btn btn-primary' href="/account">{{ current_user.login }}</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}