{% extends "base.html" %}

{% block title %} Главная {% endblock %}

{% block main_tab %}<li class="nav-item active"><a class="nav-link" href="/"> Главная </a></li>{% endblock %}

{% block content %}
<style>
    #button-up {
        display:none;
        left: 0;
        margin: 0;
        position: fixed;
        bottom: 50px;
        outline:none;
        color: #333333;
        line-height: 30px;
        text-decoration: none;
        padding: 0px 0 0 28px;
        cursor: pointer;
    }
</style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        {% if current_user.is_authenticated %}
            <div class="jumbotron">
                <h1 class="display-4"> Привет, {{ current_user.name }}! </h1>
                <p class="lead">
                    Что ж, Вы попали в мир 12 обезьян, где у каждого края своя история и желания. Попробуйте выиграть всех
                    и получить право изменить историю всего народа! Да начнутся игры!
                </p>
                <hr class="my-4">
                <p>
                    Вы можете попасть в несколько главных вкладок нашей игры. Эти кнопки помогут Вам в этом.
                </p>
                <a class="btn btn-primary btn-lg" href="/tournament"> Соревнования </a>
                <a class="btn btn-primary btn-lg" href="/quests"> Квесты </a>
                <a class="btn btn-primary btn-lg" href="/account"> {{ current_user.login }}</a>
            </div>
        {% else %}
            <div class="jumbotron">
                <h1 class="display-4"> Привет! </h1>
                <p class="lead">
                    Чтобы Вы стали полноправным участником 12 обезьян нужно зарегистрироваться. Это не очень сложно, но
                    необходимо. Удачи!
                </p>
                <hr class="my-4">
                <p>
                    Всего лишь пару слов о себе и игра начнется. Регистрируемся?
                </p>
                <a class="btn btn-primary btn-lg" href="/login"> Войти </a>
                <a class="btn btn-primary btn-lg" href="/reg"> Зарегистрироваться </a>
            </div>
        {% endif %}

        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron">
                    <h5 class="display-4"> Пару слов о нас </h5>
                    <p class="lead">
                        Это небольшое введение, о чем и зачем наша система. Мы всего лишь расскажем, как и куда Вам нужно тыкать.
                        Всем мир!
                    </p>
                    <hr class="my-4">
                </div>
            </div>

            <div class="col-md-6">
                <div class="jumbotron">
                    <h5 class="display-4"> 12 обезьян </h5>
                    <p class="lead">
                        Почему 12 обезьян? Каждая обезьяна - это отдельный край и уникальная история. Ваша задача - создать
                        интересный квест для других команд, а потом решить квесты, которые приготовили для вас!
                    </p>
                    <hr class="my-4">
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header"> Приступаем! </div>
                    <div class="card-body">
                        <h5 class="card-title"> 1. Регистрация </h5>
                        <p class="card-text">
                            Нам нужно познакомиться поближе, чтобы начать игру. Просто зарегистрируйтесь у нас - это очень просто!
                        </p>
                        <a href="/reg" class="btn btn-danger"> Зарегистрироваться </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header"> Продолжаем! </div>
                    <div class="card-body">
                        <h5 class="card-title"> 2. Вступаем в команду </h5>
                        <p class="card-text">
                            Ваш вожак расскажет, какой секретный код у команды. Просто найдите свою команду в таблице и
                            введите код - теперь перед Вами открылось очень много новых возможностей.
                        </p>
                        <a href="/teams" class="btn btn-danger"> Все команды </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header"> Почти на финише! </div>
                    <div class="card-body">
                        <h5 class="card-title"> 3. Создаем квест </h5>
                        <p class="card-text">
                            Вы в команде, а это значит, что Вы можете создавать квест. It's time to start, bro!
                        </p>
                        <a href="/quests" class="btn btn-danger"> Создать квест </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header"> Несколько дополнений #1 </div>
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-white" target="_blank" href="https://monkeywiki.informatics.ru/">Википедия 12 обезьян</a></h5>
                        <p class="card-text">
                            У Вашего народа есть история - Вам нужно ее знать, просто потому что ее можно использовать при
                            создании квеста. Это сделает Ваш квест круче и необычнее.
                        </p>
                        <a href="https://monkeywiki.informatics.ru/" class="btn btn-danger"> Википедия </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header"> Несколько дополнений #2 </div>
                    <div class="card-body">
                        <h5 class="card-title"> Оценка квестов </h5>
                        <p class="card-text">
                            У Вашего квеста всегда будет две оценки - одна от Вас и другая от Вашего вожака. Как только
                            оценка от вожака становится больше 1, квест сразу же попадает на страницу соревнований, где
                            каждая команда может пройти его.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header"> Несколько дополнений #3 </div>
                    <div class="card-body">
                        <h5 class="card-title"> Лучшие квесты </h5>
                        <p class="card-text">
                            Лучшие квесты будут отбираться по двум параметрам. Во-первых, оценки вожаков. Во-вторых,
                            каждая команда, которая прошла Ваш квест, может оценить квест. Чем больше лайков, тем лучше.
                        </p>
                        <a href="/scoreboard" class="btn btn-danger"> Скорборд </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="text-center">
            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="max-width: 15%;">
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
{% endblock %}

