{% extends "base.html" %}

{% block title %} Вступить в команду {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center"> Присоединиться к команде </h3>
                <p class="text-center text-danger">{{ error_text }}</p>
                <p class="text-center text-success">{{ success_text }} </p>
                <div class="col-md-6 offset-md-3">
                    <form action="{{ action }}" method="POST" name='editname'>
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <label for="input1"> Введите код этой команды </label>
                            {{ form.code(class_='form-control', type='password', id='input1', placeholder='Введите код') }}
                            {% for error in form.errors.name %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="text-center">
                            <input type="submit" class="btn btn-success" value="Вступить в команду">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
