{% extends "base.html" %}

{% block title %} Войти {% endblock %}
{% if not current_user.is_authenticated %}
    {% block login_tab %} <li class="nav-item active"><a class="nav-link" href="/login">Войти</a></li>{% endblock %}
{% endif %}

{% block content %}
<main>
    {% if current_user.is_authenticated %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Вы уже это делали!
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Вы уже авторизованы! </h5>
                    <p class="card-text">
                        Вы уже вошли на наш сайт, поэтому Вам больше не надо сюда. Теперь можно идти решать квесты!
                    </p>
                    <a href="/tournament" class="btn btn-primary"> Соревнования </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h2> Войти </h2>
                    <p class='text-danger text-center'>{{ error_text }}</p>
                    <form action="/login" method="POST" name="login">
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="input1"> Ваш логин </label>
                                {{ form.login(class_='form-control', id='input1', placeholder='Ваш логин') }}
                                {% for error in form.errors.login %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <label for="input2"> Ваш пароль </label>
                                {{ form.password(class_='form-control', type='password', id='input2', placeholder='Ваш пароль') }}
                                {% for error in form.errors.password %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <input type="submit" class="btn btn-success btn-lg" value="Войти">
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header">
                            Забыли пароль?
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Забыли пароль? </h5>
                            <p class="card-text">
                                Это не беда, потому что мы можем Вам помочь. Просто нажимайте на кнопку!
                            </p>
                            <a href="/reset" class="btn btn-primary"> Восстановить </a>
                        </div>
                        <div class="card-footer text-muted">
                            Удачи!
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header">
                            Еще не зарегистрированы?
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Еще не зарегистрированы? </h5>
                            <p class="card-text">
                                Это вообще не проблема. Тыкайте на кнопку внизу!
                            </p>
                            <a href="/reg" class="btn btn-success"> Зарегистрироваться </a>
                        </div>
                        <div class="card-footer text-muted">
                            Удачи!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% endblock %}
