{% extends 'base.html' %}
{% block title %} Мое письмо {% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <a href="/mail" class="btn btn-primary"> Назад к почте </a>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"><h3 class="text-secondary"> From </h3></div>
                    <div class="col-md-10"><h3><a href="{{ url_for('api.ShowOtherUser', login=mail.author) }}">{{ mail.author }}</a></h3><h6 class="text-secondary font-italic">{{ mail.time }}</h6></div>
                </div>

                <div class="row">
                    <div class="col-md-2"><h4 class="text-secondary"> Text </h4></div>
                    <div class="col-md-10">
                        <p style="font-size: 1.25rem;">
                            {{ mail.content }}
                        </p>
                    </div>
                </div>

                {% if mail.photo != '0' %}
                    <div class="row">
                        <div class="col-md-2">
                            <h4 class="text-secondary"> Photo </h4>
                        </div>
                        <div class="col-md-10">
                            <img src="{{ url_for('static', filename='photos/uploads/' + mail.photo) }}" alt="Фотография" class="responsive-img myBorderBlack size-room-image">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}