{% extends "base.html" %}

{% block title %} Новости {% endblock %}

{% block news_tab %}<li class="nav-item active"><a class="nav-link" href="/news"> Новости </a></li>{% endblock %}

{% block content %}
<main>
    <div class="container">
        {% if current_user.role == 'admin' or current_user.role == 'leader' %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
                              Написать новость!
                            </button>
                            <hr>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"> Новость </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/news" method="POST" name="add-news">
                                                {{ form.hidden_tag() }}

                                                <div class="form-group">
                                                    <label for="input1"> Введите заголовок </label>
                                                    {{ form.title(class_='form-control', type='text', id='input1', placeholder='Введите заголовок') }}
                                                    {% for error in form.errors.title %}
                                                        <span class="text-danger">{{ error }}</span>
                                                    {% endfor %}
                                                </div>

                                                <div class="form-group">
                                                    <label for="input2"> Напишите новость </label>
                                                    {{ form.content(class_='form-control', type='text', id='input2', placeholder='Напишите новость') }}
                                                    {% for error in form.errors.content %}
                                                        <span class="text-danger">{{ error }}</span>
                                                    {% endfor %}
                                                </div>

                                                <div class='text-center'>
                                                    <input type="submit" class="btn btn-success" value="Написать">
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Закрыть </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            {% if current_user.role == 'admin' or current_user.role == 'leader' %}
                                <div class="card text-white bg-info mb-3">
                                    <div class="card-header"> Привет! </div>
                                    <div class="card-body">
                                        <h5 class="card-title"> Пару слов о том, кто увидит эту новость </h5>
                                        <p class="card-text">
                                            Вы можете написать новость, которую увидят все пользователи системы.
                                            Вы - самый крутой здесь.
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
        {% if all_news|length > 0 %}
            <div class="row">
                {% for i in all_news %}
                    {% if i.type == 'TOURNAMENT-START' %}
                        <div class="col-md-6">
                           <div class="card">
                               <div class="card-body">
                                   <h4> {{ i.title }} </h4>
                                   <p>
                                       {{ i.content }}
                                   </p>
                                   <a href="/tournament" class="btn btn-success"> На страницу соревнований! </a>
                                   <p>
                                       <footer class="blockquote-footer text-right" style="font-size: 1rem;"><a href="{{ url_for('api.ShowOtherUser', login=i.author) }}">{{ i.author }}</a> в <cite title="Source Title">{{ i.time }}</cite></footer>
                                   </p>
                               </div>
                           </div>
                           <br>
                        </div>
                    {% elif i.type == 'TOURNAMENT-FINISH' %}
                        <div class="col-md-6">
                           <div class="card">
                               <div class="card-body">
                                   <h4> {{ i.title }} </h4>
                                   <p>
                                       {{ i.content }}
                                   </p>
                                   <a href="{{ url_for('api.AboutEachTournamentPage', id=i.tournament_id) }}" class="btn btn-primary"> Про соревнования </a>
                                   <p>
                                       <footer class="blockquote-footer text-right" style="font-size: 1rem;"><a href="{{ url_for('api.ShowOtherUser', login=i.author) }}">{{ i.author }}</a> в <cite title="Source Title">{{ i.time }}</cite></footer>
                                   </p>
                               </div>
                           </div>
                           <br>
                        </div>
                    {% else %}
                        <div class="col-md-6">
                           <div class="card">
                               <div class="card-body">
                                   <h4> {{ i.title }} </h4>
                                   <p>
                                       {{ i.content }}
                                   </p>
                                   <p>
                                       <footer class="blockquote-footer text-right" style="font-size: 1rem;"><a href="{{ url_for('api.ShowOtherUser', login=i.author) }}">{{ i.author }}</a> в <cite title="Source Title">{{ i.time }}</cite></footer>
                                   </p>
                               </div>
                           </div>
                           <br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-center"> Новостей пока нет. </h3>
        {% endif %}
    </div>
</main>
{% endblock %}