{% extends "base.html" %}

{% block title %} Ура! {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card text-white bg-success mb-3">
            <div class="card-header"> Ура! </div>
            <div class="card-body">
                <h5 class="card-title"> Вы завершили этот квест! </h5>
                <p class="card-text">
                    Мы вас поздравляем, ведь вы уже завершили этот квест! Теперь Вы можете похвастаться друзьям, немного отдохнуть или пойти на поиски решения еще одного квеста. Удачи!
                </p>
                <a class='btn btn-primary' href="/"> Главная </a>
                <a class='btn btn-primary' href="/quests"> Квесты </a>
                <a class='btn btn-primary' href="/account">{{ current_user.login }}</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}