{% extends "base.html" %}

{% block title %} Комната {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center"><span class="text-secondary"> Комната </span> {{ room.title }} </h3>
                {% if correct %}
                    <p class='text-center text-success'>{{ result }}</p>
                {% else %}
                    <p class='text-center text-danger'>{{ result }}</p>
                {% endif %}

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    {{ room.question }}
                                </p>
                                <p class="card-text"><small class="text-muted"><a href="{{ url_for('api.ShowTeamToUser', id=room.creator) }}"> Команда авторов </a></small></p>
                            </div>
                            {% if room.picture != '0' %}
                                <img class="card-img-bottom" src="{{ url_for('static', filename='photos/uploads/' + room.picture) }}" alt="Card image cap">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-body">
                                {% if isone %}
                                    <form action="{{ action }}" method="POST" name='passRoom'>
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            <label for="input1"> Ваш ответ </label>
                                            {{ form.answer(class_='form-control', type='text', id='input1', placeholder='Ваш ответ') }}
                                        </div>

                                        <div class='text-center'>
                                            {{ form.submit(class_='btn btn-success btn-lg', type='submit', value='Отправить')}}
                                        </div>
                                    </form>
                                {% else %}
                                    <form action="{{ action }}" method="POST" name="passRoomwithmanyAnswers">
                                        {% for i in range(answers|length) %}
                                            <a class="btn btn-primary" href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=answers[i].next_room_code) }}">{{ answers[i].content }}</a>
                                            <br><br>
                                        {% endfor %}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{%  endblock %}