{% extends "base.html" %}

{% block title %} Ваш квест {% endblock %}

{% block content %}
<style>
    .icon-table{
            font-size: 1.5rem;
        }
</style>
<main>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center"> {{  quest.name }} </h3>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="text-secondary"> Рейтинг </span>{{ quest.rating }}</li>
                            <li class="list-group-item"><span class="text-secondary"> Создатели </span><a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a></li>
                            <li class="list-group-item"><span class="text-secondary"> Кол-во комнат </span>{{ rooms }}</li>
                            <li class="list-group-item"><span class="text-secondary"> Ваши очки </span>{{ score }}</li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        {% if quest.creator_team_id == current_user.team_id %}
                            <hr>
                            <a class="btn btn-success" href="{{ url_for('api.CreateRoom', id=quest.id) }}"> Создать команту </a>
                            <hr>
                            <a class="btn btn-primary" href="{{ url_for('api.EditTitleQuest', id_quest=quest.id) }}">Редактировать квест</a>
                            <hr>
                            <a class="btn btn-danger" href="{{ url_for('api.DeleteQuest', id_quest=quest.id) }}">Удалить квест</a>
                        {% endif %}
                        {% for room in all_first_rooms %}
                            {% if room.quest_id == quest.id %}
                                <hr>
                                <a class="btn btn-primary" href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}">Начать прохождение</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if rooms == 0 %}
                    <h4 class="text-center"> У Вас пока нет комнат. <a href="{{ url_for('api.CreateRoom', id=quest.id) }}"> Создавайте и творите :)</a></h4>
                {% else %}
                    <h4 class="text-center"> Все комнаты </h4>

                    <p class="text-center text-success">{{ success_text }}</p>
                    <p class="text-danger text-center">{{ error_text }}</p>

                    <div class="accordion" id="accordionExample">
                        {% for room in all_rooms %}
                            {% if (room.creator == user.team_id and room.quest_id == quest.id) or (user.role == 'admin' and room.quest_id == quest.id) %}
                                <div class="card">
                                    <div class="card-header" id="{{ 'heading' + room.id|string }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + room.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  room.id|string }}">
                                                <span class="font-weight-bold">{{ room.id }}</span>. {{ room.title }}
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="{{ 'collapse' + room.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + room.id|string }}" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <span>
                                                Здесь вы сможете посмотреть куда ведет тот или иной вариант ответа комнаты {{ room.title }}.
                                                Если Вы захотите это изменить, то можете это сделать прямо здесь!
                                            </span>
                                            <br><br>
                                            <div class="row">
                                                {% if room.picture != '0' %}
                                                    <div class="col-md-6 text-center">
                                                        <img src="{{ url_for('static', filename='photos/uploads/' + room.picture) }}" alt="Фотогрфия" class="img-fluid" style="width: 30%; border: 2px solid black; border-radius: 50%;" >
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <div class="list-group">
                                                            <a href="{{ url_for('api.EditTitleRoom', id_quest=quest.id, id_room=room.id) }}" class="list-group-item list-group-item-action"> Изменить комнату </a>
                                                            <a href="{{ url_for('api.DeleteRoom', id_quest=quest.id, id_room=room.id) }}" class="list-group-item list-group-item-action list-group-item-danger"> Удалить комнату </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 offset-md-3">
                                                        <hr>
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><span class="text-secondary"> Необходимый инвентарь </span> {% if room.thing_to_enter != '' %} {{ room.thing_to_enter }}  {% else %} отсутствует {% endif %} </li>
                                                            <li class="list-group-item"><span class="text-secondary"> Получаемый инвентарь </span> {% if room.thing_to_user != '' %} {{ room.thing_to_user }}  {% else %} отсутствует {% endif %} </li>
                                                            <li class="list-group-item text-center"><a href="{{ url_for('api.EditThingsRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить? </a></li>
                                                        </ul>
                                                    </div>
                                                {% else %}
                                                    <div class="col-md-6 text-center">
                                                        <div class="list-group">
                                                            <a href="{{ url_for('api.EditTitleRoom', id_quest=quest.id, id_room=room.id) }}" class="list-group-item list-group-item-action"> Изменить комнату </a>
                                                            <a href="{{ url_for('api.DeleteRoom', id_quest=quest.id, id_room=room.id) }}" class="list-group-item list-group-item-action list-group-item-danger"> Удалить комнату </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><span class="text-secondary"> Необходимый инвентарь </span> {% if room.thing_to_enter != '' %} {{ room.thing_to_enter }}  {% else %} отсутствует {% endif %} </li>
                                                            <li class="list-group-item"><span class="text-secondary"> Получаемый инвентарь </span> {% if room.thing_to_user != '' %} {{ room.thing_to_user }}  {% else %} отсутствует {% endif %} </li>
                                                            <li class="list-group-item text-center"><a href="{{ url_for('api.EditThingsRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить? </a></li>
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <br>
                                            <blockquote class="blockquote">
                                                <p class="mb-0">
                                                    {{ room.question }}
                                                </p>
                                              <footer class="blockquote-footer"> Вопрос этой комнаты <cite title="Source Title"><a href="{{ url_for('api.EditContentRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить? </a></cite></footer>
                                            </blockquote>

                                            {% if room.is_finish == 'False' %}
                                                <table class="table table-hover">
                                                    <tr>
                                                        <th scope="col"> # </th>
                                                        <th scope="col"> Вариант ответа </th>
                                                        <th scope="col"> ID следующей комнаты </th>
                                                        <th scope="col"><i class="fas fa-plus icon-table"></i></th>
                                                    </tr>

                                                    {% for answer in all_answers %}
                                                        {% if answer.room_id == room.id %}
                                                            <tr>
                                                                <th scope="row">{{ answer.id }}</th>
                                                                <td>{{ answer.content }}</td>
                                                                {% if answer.next_room_id == 0 %}
                                                                    <form action="{{ action }}" method="POST" name="add">
                                                                        <td>
                                                                            <input type="text" name="id-room" placeholder="Пусто" class="form-control">
                                                                            <input style="display: none;" name="id-answer" value={{ answer.id }}>
                                                                        </td>
                                                                        <td><input class="btn btn-primary" type="submit" value="Добавить"></td>
                                                                    </form>
                                                                {% else %}
                                                                    <form action="{{ action }}" method="POST" name="edit">
                                                                        <td>
                                                                            <input class="form-control" type="text" name="id-room" value={{ answer.next_room_id }}>
                                                                            <input style="display: none;" name="id-answer" value={{ answer.id }}>
                                                                        </td>
                                                                        <td><input class="btn btn-primary" type="submit" value="Изменить"></td>
                                                                    </form>
                                                                {% endif %}
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            {% elif room.is_finish == 'True' %}
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="card text-white bg-success mb-3">
                                                                <div class="card-header"> Финишная комната квеста </div>
                                                                <div class="card-body">
                                                                    <h5 class="card-title"> Правильный ответ: <span class="font-weight-bold">{{ finish_answers[1].content }}</span></h5>
                                                                    <p class="card-text">
                                                                        Этот вариант ответа - финиш Вашего квеста. Дальше только начисление очков и лайки.
                                                                    </p>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="card text-white bg-info mb-3">
                                                                <div class="card-header"> Назначение неправильного ответа</div>
                                                                <div class="card-body">
                                                                    <p class="card-text">
                                                                        Куда попадет пользоваетель, если ответит неправильно на финишный вопрос?
                                                                    </p>
                                                                    <form action="{{ action }}" method="POST" name="change-finish-variant">
                                                                        <div class="form-group text-center">
                                                                            <input class="form-control" type="text" name="id-next-finish-room" value={{ finish_answers[0].next_room_id }}>
                                                                            <input style="display: none;" name="id-finish-answer" value={{ finish_answers[0].id }}>
                                                                            <br>
                                                                            <input class="btn btn-warning text-center" type="submit" value="Изменить" name="finish-variant">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
