{% extends "base.html" %}

{% block title %} Оценить квесты {% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> Оценка квестов </h2>
            <p>
                Оценка квестов - это очень важно. Нужно помнить, что максимальный балл от вожаков - <strong>3 балла</strong>. Три балла
                получают только самые интересные и оригинальные квесты. <strong>2 балла</strong> получает квест, который точно понравится
                всем пользователям, но при этом не заслуживает отдельного внимания остальных вожаков, то есть в нем
                нет какой-то супер-пупер изюминки. <strong>1 балл</strong> получит тот квест, который сделан качественно, но проигрывает
                остальным в сюжете.
            </p>
            <p>
                Удачи!
            </p>
        </div>
    </div>
    <hr>
    <p class="text-center text-success">{{ success_text }}</p>
    <p class="text-center text-danger">{{ error_text }}</p>
    <table class='table table-hover'>
        <tr>
            <th scope="col"> № </th>
            <th scope="col"> Название </th>
            <th scope="col"> Рейтинг автора </th>
            <th scope="col"> Рейтинг вожаков </th>
            <th scope="col"> Изменить </th>
        </tr>

        {%  for q in all_quests %}
            <tr>
                <th scope="row">{{ q.id }}</th>
                <td><a href="{{ url_for('api.SingleQuestPage', id=q.id) }}">{{ q.name }}</a></td>
                <td>{{ q.rating }}</td>
                <form action="/quest/mark" method="POST" name="add">
                    <td>
                        <input class="form-control" type="text" name="rating-leader" value={{ q.rating_from_leader }}>
                        <input type="text" name="quest-id" style="display: none;" value={{ q.id }}>
                    </td>
                    <td><input class="btn btn-success" type="submit" value="Изменить" name="make-changes"></td>

                </form>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
