{% extends "base.html" %}

{% block title %} Квесты {% endblock %}

{% block quests_tab %}<li class="nav-item active"><a class="nav-link" href="/quests"> Квесты </a></li>{% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 28px;
            cursor: pointer;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Руководство
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="text-center">
                            <i class="fas fa-lightbulb" style="font-size: 2.5rem;"></i>
                        </p>
                        <p>
                            На этой вкладке каждая команда может создать свой новый квест. Если Вы вдруг ошиблись, то всегда можно занаться редактированием
                            или удалением квеста. Напоминаем, что квест можно пройти только тогда, когда у него есть хотя бы одна комната.
                        </p>
                        <p>
                            Если Вы не укажете направление каждого варианта ответа в комнате, то пользователю будет тяжело пройти такой квест. Думайте об этом при создании комнат,
                            ведь от этого зависит, получите ли Вы три звезды от вожака.
                        </p>
                        <p>
                            Удачи!
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Создать квест
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="text-center">
                            <i class="fas fa-plus-circle" style="font-size: 2.5rem;"></i>
                        </p>
                        <p class='text-center text-danger'>{{ error_text }}</p>
                        <p class="text-center text-success">{{ success_text }} </p>
                        <form action="/quests" method="POST" name="create-quest">
                            {{ form.hidden_tag() }}
                            <div class="form-row">
                                <div class="col-md-6 offset-md-3">
                                    <label for="input1"> Название квеста </label>
                                    {{ form.name(class_='form-control', id='input1', placeholder='Название квеста') }}
                                    {% for error in form.errors.name %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col-md-6 offset-md-3">
                                    <label for="input2">Выберите рейтинг квеста</label>
                                    <select id="input2" required name="select_rating" class="form-control">
                                        <option value="" disabled selected>Выберите рейтинг</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                {{ form.submit_create(class_='btn btn-lg btn-success', type='submit', value='Создать') }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        {% if how_much_quest != 0 %}
            <table class='table table-hover'>
                <tr>
                    <th scope="col"> № </th>
                    <th scope="col"> Название </th>
                    <th scope="col"> Сложность </th>
                    <th scope="col"> Пройти </th>
                </tr>

                {% for q in all_quests %}
                    {% if q.creator_team_id == user.team_id %}
                        <tr>
                            <th scope="row">{{ q.id }}</th>
                            {% if q.creator_team_id == user.team_id %}
                                <td><a href="{{ url_for('api.SingleQuestPage', id=q.id) }}">{{ q.name }}</a></td>
                            {% else %}
                                <td> {{ q.name }}</td>
                            {% endif %}
                            <td>{{ q.rating }}</td>
                            {% for room in all_first_rooms %}
                                {% if room.quest_id == q.id %}
                                    <td><a href="{{ url_for('api.PassRoom', quest_id=q.id, room_code=room.code) }}">Начать прохождение</a></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% elif how_much_quest == 0 %}
            <h4 class="text-center"> У Вашей команды пока нет квестов. Создавайте быстрее! </h4>
        {% endif %}
    </div>
</main>
    <script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
{% endblock %}
