{% extends "base.html" %}

{% block title %} Главная {% endblock %}
{% if not current_user.is_authenticated %}
    {% block reg_tab %} <li class="nav-item active"><a class="nav-link" href="/reg">Зарегистрироваться</a></li>{% endblock %}
{% endif %}

{% block content %}
<main>
    {% if current_user.is_authenticated %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Вы уже это делали!
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Вы уже авторизованы! </h5>
                    <p class="card-text">
                        Вы уже вошли на наш сайт, поэтому Вам больше не надо сюда. Теперь можно идти решать квесты!
                    </p>
                    <a href="/tournament" class="btn btn-primary"> Соревнования </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h2> Регистрация </h2>
                    <p class='text-danger text-center'>{{ error_text }}</p>
                    <form action="/reg" method="POST" name="reg">
                        {{ form.hidden_tag() }}

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="input1"> Ваше имя </label>
                                {{ form.name(class_='form-control', id='input1', placeholder='Ваше имя') }}
                                {% for error in form.errors.name %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <label for="input2"> Придумайте логин </label>
                                {{ form.login(class_='form-control', id='input2', placeholder='Ваш логин') }}
                                {% for error in form.errors.login %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="input3"> Ваша почта </label>
                            {{ form.email(class_='form-control', id='input3', placeholder='Ваша почта', type='email') }}
                            {% for error in form.errors.email %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="input4"> Придумайте пароль </label>
                                {{ form.password(class_='form-control', id='input4', placeholder='Ваш пароль', type='password') }}
                                {% for error in form.errors.password %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <label for="input5"> Подтвердите пароль </label>
                                {{ form.confirmpass(class_='form-control', id='input5', placeholder='Подтвердите пароль', type='password') }}
                                {% for error in form.errors.confirmpass %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <input type="submit" class="btn btn-success btn-lg" value="Зарегистрироваться">
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card text-center">
                        <div class="card-header">
                            Уже зарегистрированы?
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Уже зарегистрированы? </h5>
                            <p class="card-text">
                                Тогда Вы точно можете попасть на наш сайт, даже если вообще не помните пароль.
                                Тыкайте на кнопку!
                            </p>
                            <a href="/login" class="btn btn-primary"> Войти </a>
                        </div>
                        <div class="card-footer text-muted">
                            Удачи!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% endblock %}