{% extends "base.html" %}

{% block title %} Восстановление пароля {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center"> Восстановить пароль </h3>
                <p class="text-center text-danger">{{ error_text }}</p>
                <p class="text-center text-success">{{ success_text }} </p>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form action="/reset" method="POST" name='resetpass'>
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="input1"> Введите свою почту </label>
                                {{ form.email(class_='form-control', type='email', id='input1', placeholder='Введите почту') }}
                                {% for error in form.errors.email %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Восстановить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <br><br>#}
{##}
{#    <div class="container">#}
{#            <h4 class='center orange-text text-darken-3'> Восстановить пароль </h4>#}
{#            <div class='row'>#}
{#              <p style="color: red; font-size: 0.7rem;" class='center'>{{ error_text }}</p>#}
{#              <p style="color: green; font-size: 0.7rem;" class="center">{{ success_text }} </p>#}
{#              <form action="/reset" method="POST" name='resetpass'>#}
{#                {{ form.hidden_tag() }}#}
{#                <div class="col s12">#}
{#                  <div class='col s3'></div>#}
{#                  <div class="input-field col s6">#}
{#                    <i class="material-icons prefix">email</i>#}
{#                    {{ form.email(class_='validate', type='text', id='icon_prefix') }}#}
{#                    <label>Ваша почта</label>#}
{#                  </div>#}
{#                  <div class='col s3'>#}
{#                    <br>#}
{#                    {% for error in form.errors.email %}#}
{#                    <span style="color: red; font-size: 0.7rem;">{{ error }}</span>#}
{#                    {% endfor %}#}
{#                  </div>#}
{#                </div>#}
{#                <div class='center'>#}
{#                  <button class="btn waves-effect waves-light center teal" type="submit" name="action">Восстановить#}
{#                    <i class="material-icons right">check</i>#}
{#                  </button>#}
{#                </div>#}
{#              </form>#}
{#            </div>#}
{#        </div>#}
</main>
{% endblock %}
