{% extends "base.html" %}

{% block title %} Турнирная таблица {% endblock %}
{% block scoreboard_tab %}<li class="nav-item active"><a class="nav-link" href="/scoreboard"> Скорборд </a></li>{% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 25px;
            cursor: pointer;
        }

        .word-break{
            word-break: break-all;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <br><br>
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='photos/project/silver-medal.svg') }}" alt="Кубок" class="img-fluid" style="width: 30%;">
                        <a href="{{ url_for('api.ShowTeamToUser', id=secondTeam.id) }}"><h4 class="word-break">{{ secondTeam.name }}</h4></a>
                        <h5><span class="text-secondary"> Очки </span> {{ final[1][0] }}</h5>
                        <p><span class="text-secondary"> Край </span>{{ secondTeam.region }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='photos/project/cup.svg') }}" alt="Кубок" class="img-fluid" style="width: 30%;">
                        <a href="{{ url_for('api.ShowTeamToUser', id=firstTeam.id) }}"><h3 class="word-break">{{ firstTeam.name }}</h3></a>
                        <h5><span class="text-secondary"> Очки </span> {{ final[0][0] }}</h5>
                        <p><span class="text-secondary"> Край </span>{{ firstTeam.region }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='photos/project/bronze-medal.svg') }}" alt="Кубок" class="img-fluid" style="width: 30%;">
                        <a href="{{ url_for('api.ShowTeamToUser', id=thirdTeam.id) }}"><h3 class="word-break">{{ thirdTeam.name }}</h3></a>
                        <h5><span class="text-secondary"> Очки </span> {{ final[2][0] }}</h5>
                        <p><span class="text-secondary"> Край </span>{{ thirdTeam.region }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h6 class="text-center"> Каждые две минуты турнирная таблица обновляется автоматически. </h6>
        <table class="table table-hover">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Команда</th>
                <th scope="col">Очки</th>
            </tr>

            {% for i in range(3, final|length) %}
                <tr>
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ final[i][1] }}</td>
                    <td>{{ final[i][0] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

<script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
<script> setInterval("location.reload()", 120000); </script>
</main>
{% endblock %}