{% extends "base.html" %}
{% block title %} Моя почта {% endblock %}

{% block mail_tab %}<li class="nav-item active"><a class="nav-link" href="/mail"> Почта {% if current_user.mails != 0 %} <span class="badge badge-danger">{{ current_user.mails }}</span> {% endif %}</a></li>{% endblock %}

{% block content %}
<main>
    <div class="container">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link" href="/mail/new"> Написать письмо </a>
            <a class="nav-item nav-link" href="/mail"> Входящие </a>
            <a class="nav-item nav-link active" href="/mail/sent"> Отправленные </a>
        </nav>
        <br>
        <table class='table table-hover'>
            <tr>
                <th scope="col" class="text-center"><span class="badge badge-secondary"> Статус </span></th>
                <th scope="col"> Название </th>
                <th scope="col"> Письмо </th>
                <th scope="col"> Автор </th>
                <th scope="col"> Время</th>
            </tr>

            {% for m in mails %}
                {% if not m.is_read %}
                    <tr>
                        <td class="text-center"><span class="badge badge-info"> Доставлено </span></td>
                        <td><a class="black-text" href="{{ url_for('api.ShowMyMailPage', id_mail=m.id) }}"><strong>{{ m.title }}</strong></a></td>
                        <td><a class="grey-text text-darken-2" href="{{ url_for('api.ShowMyMailPage', id_mail=m.id) }}">{% if m.content|length > 30 %} {{ m.content[:30] + '...' }} {% else %} {{ m.content }} {% endif %}</a></td>
                        <td><strong><a class="black-text" href="{{ url_for('api.ShowOtherUser', login=m.author) }}">{{ m.author }}</a></strong></td>
                        <td class="grey-text"> {{ m.time[:11] }}</td>
                    </tr>
                {% elif m.is_read %}
                    <tr>
                        <td class="text-center"><span class="badge badge-success"> Прочитано </span></td>
                        <td><a class="black-text" href="{{ url_for('api.ShowMyMailPage', id_mail=m.id) }}"><strong>{{ m.title }}</strong></a></td>
                        <td><a class="grey-text text-darken-2" href="{{ url_for('api.ShowMyMailPage', id_mail=m.id) }}">{% if m.content|length > 30 %} {{ m.content[:30] + '...' }} {% else %} {{ m.content }} {% endif %}</a></td>
                        <td><strong><a class="black-text" href="{{ url_for('api.ShowOtherUser', login=m.author) }}">{{ m.author }}</a></strong></td>
                        <td class="grey-text"> {{ m.time[:11] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}