{% extends "base.html" %}

{% block title %} Команда {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center"><span class="text-secondary"> Команда </span>{{ team.name }}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="text-secondary"> Край </span>{{ team.region }}</li>
                            <li class="list-group-item"><span class="text-secondary"> Создатель </span><a href="{{ url_for('api.ShowOtherUser', login=team.creator) }}">{{ team.creator }}</a></li>
                            <li class="list-group-item"><span class="text-secondary"> Кол-во участников </span>{{ players }}</li>
                            {% if current_user.login == team.creator or current_user.team_id == team.id %}
                                <li class="list-group-item"><span class="text-secondary"> Код </span> {{ team.password }} </li>
                            {% endif %}
                        </ul>
                        <p class="text-center text-danger">{{ error_text_photo }}</p>
                        <p class="text-center text-success">{{ success_text }} </p>
                        {% if current_user.login == team.creator or current_user.team_id == team.id %}
                            {% if team.photo == '0' %}
                                <form action="{{ action }}" method="POST" name='avatar' enctype=multipart/form-data>
                                    {{ form1.hidden_tag() }}
                                    <div class="form-group">
                                        <label> Измените аватарку команды </label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name=file>
                                            <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                                        </div>
                                        {% for error in form1.errors.file %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="text-center">
                                        {{ form1.submit_photo(class_='btn btn-success', type='submit', value='Отправить')}}
                                    </div>
                                  </form>
                            {% else %}
                                <img src="{{ url_for('static', filename='photos/uploads/' + team.photo) }}" alt="Аватарка" class="img-fluid" style="width: 75%;">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-6 text-center">
                        <hr>
                        {% if current_user.login == team.creator %}
                            <a class="btn btn-success btn-lg" href="{{ url_for('api.NewSecretTeamCode', id=team.id) }}"> Новый секретный код </a>
                            <hr>
                        {% endif %}
                        {% if current_user.team_id == team.id %}
                            <a class="btn btn-success btn-lg" href="{{ url_for('api.EditTeamName', id=team.id) }}"> Изменить команду </a>
                            <hr>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
