{% extends "base.html" %}

{% block title %} Команды {% endblock %}

{% block team_tab %} <li class="nav-item active"><a class="nav-link" href="/teams"> Команды </a></li> {% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 25px;
            cursor: pointer;
        }

        .icon-table{
            font-size: 1.5rem;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn red"> UP<i class="material-icons right">arrow_upward</i></a>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <p>
                    Здесь Вы можете увидеть все команды, которые есть на сайте. Каждая из команд относится к какому-то краю. Кто-то из друзей пригласил Вас?
                    Это самое время найти свою новую команду, ввести секретный код и помогать команде достигать новых вершин.
                </p>
                <p>
                    Однако если Вы не знаете, в какую команду встпить, то специально для Вас ссылка на создателя каждой команды есть в таблице.
                    Просто выбирайте команду, напишите создателю на почту и дело в шляпе!
                </p>
                <p>
                    Вы не можете состоять сразу в нескольких командах, однако Вы всегда сможете поменять команду и перейти к кому угодно, если у Вас будет секретный ключ.
                </p>
                <p>
                    Удачи!
                </p>
            </div>
        </div>
    </div>

    <p class='text-center text-danger'>{{ error_text }}</p>
    <div class="container">
        <table class='table table-hover'>
            <tr>
                <th scope="col"> № </th>
                <th scope="col"> Название </th>
                <th scope="col"> Край </th>
                <th scope="col"> Создатель</th>
                <th scope="col"> Присоединиться </th>
                <th scope="col"> Уйти </th>
            </tr>

            {% for team in all_teams %}
                <tr>
                    <th scope="row">{{ team.id }}</th>
                    <td><a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a></td>
                    <td>{{ team.region }}</td>
                    <td><a href="{{ url_for('api.ShowOtherUser', login=team.creator)}}">{{ team.creator }}</a></td>
                    {% if user.team_id == 0 %}
                        <td><a class="text-success" href="{{ url_for('api.JoinTeam', id_team=team.id, id_user=user.id) }}"><i class="fas fa-plus icon-table"></i></a></td>
                        <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                    {% elif user.team_id == team.id %}
                        <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                        <td><a href="{{ url_for('api.LeaveTeam', id_team=team.id, id_user=user.id) }}" class="text-danger"><i class="fas fa-sign-out-alt icon-table"></i></a></td>
                    {% else %}
                        <td><a href="#" class="text-success"><i class="fas fa-smile icon-table"></i></a></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
<script>
$(document).ready(function () {
  $('.modal').modal();
});
</script>
    <script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>

{% endblock %}