{% extends "base.html" %}

{% block title %} Соревнования {% endblock %}

{% block tournament_tab %}<li class="nav-item active"><a class="nav-link" href="/tournament"> Соревнования </a></li>{% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 28px;
            cursor: pointer;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Руководство
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="text-center">
                            <i class="fas fa-lightbulb" style="font-size: 2.5rem;"></i>
                        </p>
                        <p>
                            Здесь Вы можете посмотреть, сколько квестов сделал каждый край и попробовать их пройти. Каждый край - одна обезьяна.
                            У Вас получится пройти их всех?
                        </p>
                        <p>
                            Удачи!
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Скорборд
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="text-center">
                            <i class="fas fa-chart-line" style="font-size: 2.5rem;"></i>
                        </p>
                        <p>
                            Здесь Вы можете посмотреть, сколько баллов у каждой команды. <a href="/scoreboard">На страницу скорборда?</a>
                        </p>
                        <table class="table table-hover">
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Команда</th>
                                <th scope="col">Очки</th>
                            </tr>

                            {% for i in range(final|length) %}
                                <tr>
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ final[i][1] }}</td>
                                    <td>{{ final[i][0] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Популярные квесты
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Здесь Вы можете посмотреть, каким квестам ставят больше всего лайков. Если вы еще не все прошли,
                            то обязательно пройдите и оцените его! :)
                        </p>
                        <table class="table table-hover">
                            <tr>
                                <th scope="col"> № </th>
                                <th scope="col"> Квест </th>
                                <th scope="col"> Лайки </th>
                            </tr>

                            {% for i in range(final_like|length) %}
                                <tr>
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ final_like[i][1] }}</td>
                                    {% if ((final_like[i][0]|int) > 0) %}
                                        <td class="text-success"><strong>{{ final_like[i][0] }}</strong></td>
                                    {% elif final_like[i][0]|int == 0 %}
                                        <td class="text-warning"><strong>{{ final_like[i][0] }}</strong></td>
                                    {% else %}
                                        <td class="text-danger"><strong>{{ final_like[i][0] }}</strong></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Математики </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Математики' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Физики и химики </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Физики и химики' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Астрономы </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Астрономы' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Спортсмены </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Спортсмены' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Игроки </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Игроки' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Географы и историки </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Географы и историки' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Биологи и генетики </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Биологи и генетики' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Тролли </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Тролли' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Программисты </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Программисты' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Взломщики </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Взломщики' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Оккультисты </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Оккультисты' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="width: 50%;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h2 class="text-center"> Творцы </h2>
                        <div class="accordion" id="tournament">
                            {%  for quest in quests %}
                                {% if quest.region_creator_team == 'Творцы' and quest.rating_from_leader > 1 %}
                                    <div class="card">
                                        <div class="card-header" id="{{ 'heading' + quest.id|string }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{ '#collapse' + quest.id|string }}" aria-expanded="true" aria-controls="{{ 'collapse' +  quest.id|string }}">
                                                    {{ quest.name }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="{{ 'collapse' + quest.id|string }}" class="collapse" aria-labelledby="{{ 'heading' + quest.id|string }}" data-parent="#tournament">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th scope="col"> Кто </th>
                                                                <th scope="col"> Очки </th>
                                                            </tr>

                                                            {% for i in finish %}
                                                                {% if quest.id == i.id_quest %}
                                                                    <tr>
                                                                        <td>
                                                                            {% for team in all_teams %}
                                                                                {% if team.id == i.id_team %}
                                                                                    <a href="{{ url_for('api.ShowTeamToUser', id=team.id) }}">{{ team.name }}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>{{ i.score }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {% for room in all_first_rooms %}
                                                            {% if room.quest_id == quest.id %}
                                                                <a href="{{ url_for('api.PassRoom', quest_id=quest.id, room_code=room.code) }}" class="btn btn-lg btn-success">Начать прохождение</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
{% endblock %}
