{% extends "base.html" %}

{% block title %} Пользователь {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="jumbotron">
            {% if user.photo != '0' %}
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename=avatar) }}" alt="Аватарка" class="img-fluid rounded">
                    </div>
                    <div class="col-md-9">
                        <h1 class="display-4">{{ user.name }}</h1>
                        <p class="lead">
                            Это обычная страница пользователя. Вы можете посмотреть его роль на сайте и написать ему,
                            если у Вас возник какой-то вопрос к этому пользователю.
                        </p>
                        <hr class="my-4">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="text-secondary"> Логин </span> {{ user.login }} </li>
                            {% if user.team_id == 0 %}
                                <li class="list-group-item"><span class="text-secondary"> Команда </span> Отсутствует </li>
                            {% else %}
                                <li class="list-group-item"><span class="text-secondary"> Команда </span> <a href="{{ url_for('api.ShowTeamToUser', id=myTeam.id) }}">{{ myTeam.name }}</a> </li>
                            {% endif %}
                            <li class="list-group-item"><span class="text-secondary"> Роль </span> {{ user.role }} </li>
                        </ul>
                        <hr class="my-4">
                        <div class="text-center">
                            <a class="btn btn-primary" href="/mail/new" role="button"> Написать письмо </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <h1 class="display-4">{{ user.name }}</h1>
                <p class="lead">
                    Это обычная страница пользователя. Вы можете посмотреть его роль на сайте и написать ему,
                    если у Вас возник какой-то вопрос к этому пользователю.
                </p>
                <hr class="my-4">
                <ul class="list-group">
                    <li class="list-group-item"><span class="text-secondary"> Логин </span> {{ user.login }} </li>
                    {% if user.team_id == 0 %}
                        <li class="list-group-item"><span class="text-secondary"> Команда </span> Отсутствует </li>
                    {% else %}
                        <li class="list-group-item"><span class="text-secondary"> Команда </span> <a href="{{ url_for('api.ShowTeamToUser', id=myTeam.id) }}">{{ myTeam.name }}</a> </li>
                    {% endif %}
                    <li class="list-group-item"><span class="text-secondary"> Роль </span> {{ user.role }} </li>
                </ul>
                <hr class="my-4">
                <div class="text-center">
                    <a class="btn btn-primary" href="/mail/new" role="button"> Написать письмо </a>
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
