{% extends "base.html" %}

{% block title %} Пользователи {% endblock %}

{% block content %}
    <style>
        #button-up {
            display:none;
            left: 0;
            margin: 0;
            position: fixed;
            bottom: 50px;
            outline:none;
            color: #333333;
            line-height: 30px;
            text-decoration: none;
            padding: 0px 0 0 28px;
            cursor: pointer;
        }
    </style>
<main>
    <div id="button-up">
        <a class="btn btn-danger text-white"> UP <i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="container">
        <table class='table table-hover'>
            <tr>
                <th> № </th>
                <th> Имя </th>
                <th> Логин </th>
                <th> Почта </th>
                <th> Роль</th>
                <th> ID команды </th>
            </tr>

            {% for i in all_users %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.name }}</td>
                    <td><a href="{{ url_for('api.ShowOtherUser', login=i.login) }}">{{ i.login }}</a></td>
                    <td>{{ i.email }} </td>
                    <td> {{ i.role }}</td>
                    <td> {{ i.team_id }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
    <script src="{{ url_for('static', filename='js/buttonUp.js') }}"></script>
{% endblock %}