{% extends "base.html" %}

{% block title %} Письмо в поддержку {% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-header"> Привет! </div>
                            <div class="card-body">
                                <h5 class="card-title"> Мы обязательно Вам ответим </h5>
                                <p class="card-text">
                                    Здесь Вы можете выразить свое негодование по поводу того, насколько плохие разработчики или
                                    подсказать нам пару наших ошибок. Такое бывает, но не очень часто. Вы можете не верить, но мы
                                    действительно читаем каждое Ваше письмо.
                                </p>
                                <p class="card-text">
                                    Ну, и конечно, помните, что Ваше мнение очень важно для нас! :)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form action="/write/support" method="POST" name="write-support" enctype=multipart/form-data>
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="input1"> Введите заголовок </label>
                                {{ form.title(class_='form-control', type='text', id='input1', placeholder='Введите название') }}
                                {% for error in form.errors.title %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="input2"> Напишите Вашу проблему </label>
                                {{ form.content(class_='form-control', id='input2', type='text', placeholder='Ваше письмо') }}
                                {% for error in form.errors.content %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name=file>
                                    <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                                </div>
                                <div>
                                    {% for error in form.errors.file %}
                                        <p class="center"><span style="color: red; font-size: 0.7rem;">{{ error }}</span></p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Отправить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}