{% extends "base.html" %}

{% block title %} Новое письмо {% endblock %}

{% block mail_tab %}<li class="nav-item active"><a class="nav-link" href="/mail"> Почта {% if current_user.mails != 0 %} <span class="badge badge-danger">{{ current_user.mails }}</span> {% endif %}</a></li>{% endblock %}

{% block content %}
<main>
    <div class="container">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link active" href="/mail/new"> Написать письмо </a>
            <a class="nav-item nav-link" href="/mail"> Входящие </a>
            <a class="nav-item nav-link" href="/mail/sent"> Отправленные </a>
        </nav>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-header"> Привет! </div>
                            <div class="card-body">
                                <h5 class="card-title"> Будьте на связи </h5>
                                <p class="card-text">
                                    Напишите Вашему другу любое письмо. Единственное, что может Вас остановить - это плохой
                                    интернет, так что дерзайте.
                                </p>
                                <p class="card-text">
                                    Вам всего лишь надо выбрать из списка всех пользователей того, кому письмо должно быть
                                    отправлено. <strong>Удачи!</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center text-success">{{ success_text }} </p>
                        <form action="/mail/new" method="POST" name="write-new-mail" enctype=multipart/form-data>
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="input1"> Напишите тему письма </label>
                                {{ form.title(class_='form-control', type='text', id='input1', placeholder='Тема') }}
                                {% for error in form.errors.title %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="input2"> Кому Вы пишете письмо?</label>
                                <select required class="form-control" name="select-target" id="input2">
                                    {% for i in users %}
                                        <option value="{{ i.login }}">{{ i.login }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="input3"> Ваше письмо </label>
                                {{ form.content(class_='form-control', id='input3', placeholder='Напишите что-нибудь...') }}
                                {% for error in form.errors.content %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name=file>
                                    <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                                </div>
                                <div>
                                    {% for error in form.errors.file %}
                                        <p class="center"><span style="color: red; font-size: 0.7rem;">{{ error }}</span></p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-success" value="Отправить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <br>#}
{#    <div class="container">#}
{#        <div class="card-panel teal">#}
{#            <div class="row">#}
{#                <div class="col s12">#}
{#                    <div class="card-panel white">#}
{#                        <div class="row">#}
{#                            <div class="col s4">#}
{#                                <a class="waves-effect waves-light btn-large disabled"><i class="material-icons left">send</i> Написать письмо </a>#}
{#                            </div>#}
{#                            <div class="col s3">#}
{#                               <a href="/mail" class="waves-effect waves-light btn-large red"><i class="material-icons left">border_color</i> Входящие </a>#}
{#                            </div>#}
{#                            <div class="col s5">#}
{#                                <a href="/mail/sent" class="waves-effect waves-light btn-large red"><i class="material-icons left">mail</i> Отправленные письма</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col s4">#}
{#                    <div class="card-panel white">#}
{#                        <p>#}
{#                            Напишите Вашему другу любое письмо. Единственное, что может Вас остановить - это плохой#}
{#                            интернет, так что дерзайте.#}
{#                        </p>#}
{#                        <p>#}
{#                            Вам всего лишь надо выбрать из списка всех пользователей того, кому письмо должно быть#}
{#                            отправлено. Удачи!#}
{#                        </p>#}
{#                        <p class="center">#}
{#                            <i class="material-icons medium">mail</i>#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col s8">#}
{#                    <div class="card-panel white">#}
{#                        <p class="center">#}
{#                            <span class="green-text text-darken-2 center">{{ success_text }}</span>#}
{#                        </p>#}
{#                        <form action="/mail/new" method="POST" name="write-new-mail" enctype=multipart/form-data>#}
{#                            {{ form.hidden_tag() }}#}
{#                            <div class="row">#}
{#                                <div class="col s1"></div>#}
{#                                <div class="input-field col s8">#}
{#                                    <i class="material-icons prefix">title</i>#}
{#                                    {{ form.title(class_='validate', type='text', id='icon_prefix1') }}#}
{#                                    <label for="icon_prefix1">Название</label>#}
{#                                </div>#}
{#                                <div class='col s3'>#}
{#                                    <br>#}
{#                                    {% for error in form.errors.title %}#}
{#                                    <span style="color: red; font-size: 0.7rem;">{{ error }}</span>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="row">#}
{#                                <div class="col s1"></div>#}
{#                                <div class="col s8">#}
{#                                    <label> Кому Вы пишете письмо?</label>#}
{#                                    <select required class="browser-default" name="select-target">#}
{#                                        {% for i in users %}#}
{#                                            <option value="{{ i.login }}">{{ i.login }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="row">#}
{#                                <div class="col s1"></div>#}
{#                                <div class="input-field col s8">#}
{#                                    <i class="material-icons prefix">text_fields</i>#}
{#                                    {{ form.content(class_='materialize-textarea', id='textarea1') }}#}
{#                                    <label for="textarea1">Ваше письмо</label>#}
{#                                </div>#}
{#                                <div class='col s3'>#}
{#                                    <br>#}
{#                                    {% for error in form.errors.content %}#}
{#                                    <span style="color: red; font-size: 0.7rem;">{{ error }}</span>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="row">#}
{#                                <div class='col s1'></div>#}
{#                                <div class="file-field input-field col s8">#}
{#                                    <div class="btn">#}
{#                                        <span>File</span>#}
{#                                        <input type="file" name=file>#}
{#                                    </div>#}
{#                                    <div class="file-path-wrapper">#}
{#                                        <input class="file-path validate" type="text" placeholder="Выберите фотографию, если нужно">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class='col s3'>#}
{#                                    <br>#}
{#                                    {% for error in form.errors.file %}#}
{#                                      <span style="color: red; font-size: 0.7rem;">{{ error }}</span>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class='center'>#}
{#                                <button class="btn waves-effect waves-light center teal" type="submit" name="action">Написать#}
{#                                  <i class="material-icons right">check</i>#}
{#                                </button>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</main>
{% endblock %}