{% extends "base.html" %}

{% block title %} Изменить девиз {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/myworld"> Мой регион</a></li>
            <li class="nav-item"><a class="nav-link " href="{{ url_for('api.ChangeDescriptionRegionController', id=region.id) }}"> Изменить описание</a></li>
            <li class="nav-item"><a class="nav-link active" href="#"> Изменить девиз </a></li>
        </ul>
        <br>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <span class="text-secondary"> Ваш нынешний девиз | </span> {{ region.quote }} <br>
                        <span class="text-secondary"><strong><i>{{ region.author_q }}</i></strong></span>
                    </div>
                    <div class="col-md-6">
                        <p class="text-success"> {{ success_text }}</p>
                        <form action="{{ '/world/edit/quote/' + region.id|string }}" method="POST">
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="input1"> Новый девиз Вашего края </label>
                                {{ form.quote(class_='form-control', placeholder='Девиз Вашего края', id='input1') }}
                                {% for error in form.errors.quote %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="input2"> Автор Вашего девиза </label>
                                {{ form.author(class_='form-control', placeholder='Автор девиза', id='input2') }}
                                {% for error in form.errors.author %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Изменить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}