{% extends "base.html" %}

{% block title %} Редактирование пароля {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/account"> Мой профиль </a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/name"> Изменить имя</a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/email"> Изменить почту </a></li>
            <li class="nav-item"><a class="nav-link active" href="/edit/password"> Изменить пароль </a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/avatar"> Изменить аватар </a></li>
        </ul>
        <br>
        <div class="row">
            {% include "editing/infoUser.html" %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class='text-center text-danger'>{{ error_text }}</p>
                        <p class="text-center text-success">{{ success_text }} </p>
                        <form action="/edit/password" method="POST" name='editpass'>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label for="input1"> Старый пароль </label>
                                {{ form.old_password(class_='form-control', id='input1', type='password', placeholder='Старый пароль') }}
                                {% for error in form.errors.old_password %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="input2"> Новый пароль </label>
                                {{ form.new_password(class_='form-control', id='input2', type='password', placeholder='Новый пароль') }}
                                {% for error in form.errors.new_password %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="input3"> Подтвердите новый пароль </label>
                                {{ form.new_password_confirm(class_='form-control', id='input3', type='password', placeholder='Подтвердите пароль') }}
                                {% for error in form.errors.new_password_confirm %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <input type="submit" class="btn btn-success" value="Изменить" name="action">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}