{% extends "base.html" %}

{% block title %} Изменить описание мира {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/myworld"> Мой регион</a></li>
            <li class="nav-item"><a class="nav-link active" href="#"> Изменить описание</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.ChangeQuoteController', id=region.id) }}"> Изменить девиз </a></li>
        </ul>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <span class="text-secondary"> Ваше нынешнее описание | </span> {{ region.description }}
                    </div>
                    <div class="col-md-6">
                        <p class="text-success"> {{ success_text }}</p>
                        <form action="{{ '/world/edit/description/' + region.id|string }}" method="POST">
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="input1"> Новое описание Вашего края </label>
                                {{ form.description(class_='form-control', placeholder='Описание Вашего края', id='input1') }}
                                {% for error in form.errors.description %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Изменить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}