{% extends "base.html" %}

{% block title %} Редактирование названия {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.SingleQuestPage', id=quest.id) }}"> Мой квест </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ myRoom }}"> Моя комната </a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('api.EditTitleRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить название </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditContentRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить вопрос </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditThingsRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить инвентарь </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditPhotoRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить картинку </a></li>
        </ul>
        <br>
        <div class="row">
            {% include "editing/infoRoom.html" %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class='text-center text-danger'>{{ error_text }} </p>
                        <p class="text-center text-success">{{ success_text }} </p>
                        <form action="{{ action }}" method="POST" name='editname'>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label for="input1"> Введите новое название </label>
                                {{ form.title(class_='form-control', type='text', id='input1', placeholder='Новое название') }}
                                {% for error in form.errors.title %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Изменить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
