{% extends "base.html" %}

{% block title %} Редактирование имени {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/account"> Мой профиль </a></li>
            <li class="nav-item"><a class="nav-link active" href="/edit/name"> Изменить имя</a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/email"> Изменить почту </a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/password"> Изменить пароль </a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/avatar"> Изменить аватар </a></li>
        </ul>
        <br>
        <div class="row">
            {% include "editing/infoUser.html" %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class='text-center text-danger'>{{ error_text }}</p>
                        <p class="text-center text-success">{{ success_text }} </p>
                        <form action="/edit/name" method="POST" name="editname">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label for="input1"> Новое имя </label>
                                {{ form.name(class_='form-control', type='text', id='input1', placeholder='Новое имя') }}
                                {% for error in form.errors.name %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <input type="submit" class="btn btn-success" value="Изменить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}