{% extends "base.html" %}

{% block title %} Редактирование фотографии {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/account"> Мой профиль </a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/name"> Изменить имя</a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/email"> Изменить почту </a></li>
            <li class="nav-item"><a class="nav-link" href="/edit/password"> Изменить пароль </a></li>
            <li class="nav-item"><a class="nav-link active" href="/edit/avatar"> Изменить аватар </a></li>
        </ul>
        <br>
        <div class="row">
            {% include "editing/infoUser.html" %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class='text-center text-danger'>{{ error_text }}</p>
                        <p class="text-center text-success">{{ success_text }} </p>
                        <form action="/account" method="POST" name='avatar' enctype=multipart/form-data>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label> Измените аватарку </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name=file>
                                    <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                                </div>
                                {% for error in form.errors.file %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {{ form.submit_photo(class_='btn btn-success', type='submit', value='Изменить')}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}