{% extends "base.html" %}

{% block title %} Редактирование кода {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{{ myTeam }}"> Моя команда </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditTeamName', id=team.id) }}"> Изменить название </a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('api.EditTeamPassword', id=team.id) }}"> Изменить код </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditTeamAvatar', id=team.id) }}"> Изменить аватарку </a></li>
        </ul>
        <br>
        <div class="row">
            {% include "editing/infoTeam.html" %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="text-center text-danger">{{ error_text }}</p>
                        <p class="text-center text-success">{{ success_text }} </p>

                        <form action="{{ action }}" method="POST" name='editname'>
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="input1"> Введите новый код </label>
                                {{ form.password(class_='form-control', type='password', id='input1', placeholder='Новый код') }}
                                {% for error in form.errors.password %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="input2"> Подтвердите код </label>
                                {{ form.confirm(class_='form-control', type='password', id='input2', placeholder='Подтвердите код') }}
                                {% for error in form.errors.confirm %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Изменить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
