{% extends "base.html" %}

{% block title %} Редактирование рейтинга {% endblock %}

{% block content %}
<main>
{#    <br><br>#}
{#    <div class="row container">#}
{#        <div class="col s4">#}
{#            <a class="waves-effect waves-light btn-large orange darken-3" href="{{ myQuest }}">Мой квест</a><br><br>#}
{#            <a class="waves-effect waves-light btn-large orange darken-3" href="{{ url_for('api.EditTitleQuest', id_quest=quest.id) }}">Изменить название</a><br><br>#}
{#            <a class="waves-effect waves-light btn-large disabled" href="#">Изменить рейтнг</a><br><br>#}
{#        </div>#}
{##}
{#        <div class="col s8">#}
{#            <h4 class="center"><span class="grey-text text-darken-2">Квест</span> {{ quest.name }}</h4>#}
{#            <h5 class="center"><span class="grey-text text-darken-2"> Рейтинг </span>{{ quest.rating }}</h5>#}
{#            <h5 class='center orange-text text-darken-3'> Изменить рейтинг квеста </h5>#}
{#            <div class='row'>#}
{#              <p style="color: red; font-size: 0.7rem;" class='center'>{{ error_text }}</p>#}
{#              <p style="color: green; font-size: 0.7rem;" class="center">{{ success_text }} </p>#}
{#              <form action="{{ action }}" method="POST" name='editrating'>#}
{#                  <div class='col s12'>#}
{#                      <div class='col s3'></div>#}
{#                        <div class="col s6">#}
{#                         <label>Выберите рейтинг квеста</label>#}
{#                          <select required class="browser-default" name="select_rating">#}
{#                            <option value="" disabled selected>Выберите рейтинг</option>#}
{#                            <option value="1">1</option>#}
{#                            <option value="2">2</option>#}
{#                            <option value="3">3</option>#}
{#                          </select>#}
{#                            <br>#}
{#                        </div>#}
{#                  </div>#}
{#                <div class='center'>#}
{#                  <button class="btn waves-effect waves-light center teal" type="submit" name="action">Изменить#}
{#                    <i class="material-icons right">check</i>#}
{#                  </button>#}
{#                </div>#}
{#              </form>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{{ myQuest }}"> Мой квест </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditTitleQuest', id_quest=quest.id) }}"> Изменить название </a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('api.EditRatingQuest', id_quest=quest.id) }}"> Изменить рейтинг </a></li>
        </ul>
        <br>
        <div class="row">
            {% include "editing/infoQuest.html" %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class='text-danger text-center'>{{ error_text }}</p>
                        <p class="text-center text-success">{{ success_text }} </p>
                        <form action="{{ action }}" method="POST" name='editrating'>
                            <div class="form-group">
                                <label for="input2">Выберите рейтинг квеста</label>
                                <select id="input2" required name="select_rating" class="form-control">
                                    <option value="" disabled selected>Выберите рейтинг</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class='text-center'>
                                <input type="submit" class="btn btn-success" value="Изменить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
