{% extends "base.html" %}

{% block title %} Редактирование инвентаря {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.SingleQuestPage', id=quest.id) }}"> Мой квест </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ myRoom }}"> Моя комната </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditTitleRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить название </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditContentRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить вопрос </a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('api.EditThingsRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить инвентарь </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditPhotoRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить картинку </a></li>
        </ul>
        <br>
        <div class="row">
            {% include "editing/infoRoom.html" %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <p class='text-center text-danger'>{{ error_text }} </p>
                        <p class="text-center text-success">{{ success_text }} </p>
                        <form action="{{ action }}" method="POST" name='editthingtouser'>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label for="input1"> Новый получаемый инвентарь</label>
                                {{ form.thing_to_user(class_='form-control', type='text', id='input1', placeholder='Новый инвентарь') }}
                                {% for error in form.errors.thing_to_user %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class='text-center'>
                                {{ form.submit_to_user(class_='btn btn-success', type='submit', value='Изменить')}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ action }}" method="POST" name="editthingtoenter">
                            {{ form1.hidden_tag() }}
                            <div class="form-group">
                                <label for="input2"> Новый требуемый инвентарь </label>
                                {{ form1.thing_to_enter(class_='form-control', id='input2', placeholder='Новый инвентарь') }}
                                {% for error in form1.errors.thing_to_enter %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class='text-center'>
                                {{ form1.submit_to_enter(class_='btn btn-success', type='submit', value='Изменить')}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
