{% extends "base.html" %}

{% block title %} Редактирование аватара {% endblock %}

{% block content %}
<main>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.SingleQuestPage', id=quest.id) }}"> Мой квест </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ myRoom }}"> Моя комната </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditTitleRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить название </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditContentRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить вопрос </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.EditThingsRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить инвентарь </a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('api.EditPhotoRoom', id_quest=quest.id, id_room=room.id) }}"> Изменить картинку </a></li>
        </ul>
        <br>
        <div class="row">
            {% include "editing/infoRoom.html" %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class='text-center text-danger'>{{ error_text }} </p>
                        <form action="{{ action }}" method="POST" name='avatar' enctype=multipart/form-data>
                               {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <label> Измените картинку </label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name=file>
                                        <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                                    </div>
                                    {% for error in form.errors.file %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class='text-center'>
                                    {{ form.submit_photo(class_='btn btn-success', type='submit', value='Изменить')}}
                                </div>
                           </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
