<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Имя </span>
                </div>
                <div class="col-md-8"> {{ current_user.name }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Логин </span>
                </div>
                <div class="col-md-8"> {{ current_user.login }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Почта </span>
                </div>
                <div class="col-md-8"> {{ current_user.email }}</div>
            </div>

            {% if current_user.photo != '0' %}
                <div class="row">
                    <div class="col-md-4">
                        <span class="font-weight-bold"> Аватарка </span>
                    </div>
                    <div class="col-md-8"><img src="{{ url_for('static', filename='photos/uploads/' + current_user.photo) }}" alt="Ваша аватарка" class="img-fluid rounded" style="max-width: 100px;"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>