<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Название </span>
                </div>
                <div class="col-md-8"> {{ quest.name }} </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Рейтинг </span>
                </div>
                <div class="col-md-8">
                    {% for i in range(quest.rating) %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>