<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Название </span>
                </div>
                <div class="col-md-8"> {{ room.title }} </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Вопрос </span>
                </div>
                <div class="col-md-8"> {{ room.question }} </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Финиш? </span>
                </div>
                <div class="col-md-8">
                    {% if room.is_finish == 'True' %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Требуемый инвентарь </span>
                </div>
                <div class="col-md-8">
                    {% if room.thing_to_enter|length == 0 %}
                        Отсутствует
                    {% else %}
                        {{ room.thing_to_enter }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Получаемый инвентарь </span>
                </div>
                <div class="col-md-8">
                    {% if room.thing_to_user|length == 0 %}
                        Отсутствует
                    {% else %}
                        {{ room.thing_to_user }}
                    {% endif %}
                </div>
            </div>

            {% if room.picture != '0' %}
                <div class="row">
                    <div class="col-md-4">
                        <span class="font-weight-bold"> Картинка </span>
                    </div>
                    <div class="col-md-8"><img src="{{ url_for('static', filename='photos/uploads/' + room.picture) }}" alt="Ваша аватарка" class="img-fluid rounded" style="max-width: 100px;"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>