<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Название </span>
                </div>
                <div class="col-md-8">{{ team.name }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Край </span>
                </div>
                <div class='col-md-8'> {{ team.region }} </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Создатель </span>
                </div>
                <div class="col-md-8"><a href="{{ url_for('api.ShowOtherUser', login=team.creator) }}">{{ team.creator }}</a></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="font-weight-bold"> Код команды </span>
                </div>
                <div class="col-md-8">{{ team.password }}</div>
            </div>
            {% if team.photo != '0' %}
                <div class="row">
                    <div class="col-md-4">
                        <span class="font-weight-bold"> Аватарка </span>
                    </div>
                    <div class="col-md-8"><img src="{{ url_for('static', filename='photos/uploads/' + team.photo) }}" alt="Ваша аватарка" class="img-fluid rounded" style="max-width: 100px;"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>