{% extends "base.html" %}

{% block title %} Новая запись {% endblock %}
{% block account_tab %} <li class="nav-item"><a class="nav-link" href="/account"> {{ current_user.login }} </a></li> {% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> Новая запись </h2>
            <h6 class="card-subtitle mb-2 text-muted"> Вы можете написать новую часть истории каждого края 12 обезьян, ведь Вы админ нашего сайта. Дерзайте, но без глупостей! </h6>
            <hr>
            <p>
                <span class="text-danger"><strong>{{ error_text }}</strong></span>
                <span class="text-success"><strong>{{ success_text }}</strong></span>
            </p>
            <form action="/add/post" method="POST" name="add-post" enctype=multipart/form-data>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"> Выберите край: </label>
                            <select class="form-control" id="exampleFormControlSelect1" required name="select_region">
                                <option value="1">Математики</option>
                                <option value="2">Физики и химики</option>
                                <option value="3">Астрономы</option>
                                <option value="4">Спортсмены</option>
                                <option value="5">Игроки</option>
                                <option value="6">Географы и историки</option>
                                <option value="7">Биологи и генетики</option>
                                <option value="8">Тролли</option>
                                <option value="9">Программисты</option>
                                <option value="10">Взломщики</option>
                                <option value="11">Оккультисты</option>
                                <option value="12">Творцы</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <textarea id="summernote" name="editordata"></textarea>
                    </div>
                    <div class="col-md-3">
                        <h6 class="text-secondary"> Вы можете добавить фотографию к посту, если хотите </h6>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name=file>
                            <label class="custom-file-label" for="customFile"> Выберите </label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <input type="submit" value="Опубликовать!" class="btn btn-lg btn-success">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  $('#summernote').summernote({
    placeholder: 'Напишите что-нибудь!',
    tabsize: 2,
    height: 200,
    toolbar: [
            // [groupName, [list of button]]
            ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['misc', ['undo', 'redo', 'fullscreen']],
            ['color', ['color']]
        ]
    });
</script>
{% endblock %}