{% extends "base.html" %}

{% block title %} Мой край {% endblock %}
{% block account_tab %} <li class="nav-item"><a class="nav-link" href="/account"> {{ current_user.login }} </a></li> {% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"> Новая запись </h2>
                <h6 class="card-subtitle mb-2 text-muted"> Вы можете написать новую часть истории своего края и его увидит каждый участник 12 обезьян. Ниже - все записи. </h6>
                <hr>
                <p class="text-danger">
                    <strong>{{ error_text }}</strong>
                </p>
                <form method="POST" action="/my/world/edit" enctype=multipart/form-data>
                    <div class="form-row">
                        <div class="col-md-8">
                            <textarea id="summernote" name="editordata"></textarea> <br>
                            <div class="text-center">
                                <input type="submit" value="Опубликовать!" class="btn btn-lg btn-success">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-secondary"> Вы можете добавить фотографию к посту, если хотите </h6>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name=file>
                                <label class="custom-file-label" for="customFile"> Выберите фотографию </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>

        {% for i in posts %}
            {% if i.region == region.name %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4> {{ region.name }} </h4>
                            </div>
                            {% if current_user.login == i.author %}
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal" type="buttton"> Удалить </button>
                                    </div>
                                    {# Modal #}
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"> Вы уверены? </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы точно хотите удалить эту запись из истории Вашего края?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Закрыть </button>
                                                    <a role="button" href="{{ url_for('api.DeletePostController', id=i.id) }}" class="btn btn-primary"> Удалить запись </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        {{ i.html|safe }}

                        {% if i.image != '0' %}
                            <p class="text-center">
                                <img src="{{ url_for('static', filename='photos/uploads/' + i.image|string) }}" alt="Фото поста" class="img-fluid rounded" style="width:50%;">
                            </p>
                        {% endif %}

                        <p class="text-right text-secondary">
                            <strong><a href="{{ url_for('api.ShowOtherUser', login=i.author) }}">{{ i.author }}</a></strong> написал в {{ i.time }}
                        </p>
                    </div>
                    {% if current_user.login == i.author %}
                        <div class="card-footer">
                            <a href="{{ url_for('api.EditStorylineController', id=i.id) }}"> Изменить? </a>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endif %}
        {% endfor %}
    </div>

    <script>
      $('#summernote').summernote({
        placeholder: 'Напишите что-нибудь!',
        tabsize: 2,
        height: 200,
        toolbar: [
                // [groupName, [list of button]]
                ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['misc', ['undo', 'redo', 'fullscreen']],
                ['color', ['color']]
            ]
        });
    </script>
{% endblock %}