{% extends "base.html" %}

{% block title %} Изменить запись {% endblock %}
{% block account_tab %} <li class="nav-item"><a class="nav-link" href="/account"> {{ current_user.login }} </a></li> {% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            {{ post.region }}
        </div>
        <div class="card-body">
            <h2 class="card-title"> Изменить запись </h2>
            <h6 class="card-subtitle mb-2 text-muted"> Просто сделайте изменения в окошке текста и подтвердите. Все предельно просто! </h6>
            <hr>

            <form action="{{ "/edit/post/" + post.id|string }}" method="POST" name="edit-post">
                <textarea id="summernote" name="editordata">{{ post.html|safe }}</textarea>
                <br>
                <div class="text-center">
                    <input type="submit" value="Изменить" class="btn btn-lg btn-success">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#summernote').summernote({
    placeholder: 'Напишите что-нибудь!',
    tabsize: 2,
    height: 200,
    toolbar: [
            // [groupName, [list of button]]
            ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['misc', ['undo', 'redo', 'fullscreen']],
            ['color', ['color']]
        ]
    });
</script>
{% endblock %}