{% extends "base.html" %}

{%  block title %} Пост {% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">{{ region.name }}</div>
        <div class="card-body">
            <p>
                {{ post.html|safe }}
            </p>

            {% if post.image != '0' %}
                <p class="text-center">
                    <img src="{{ url_for('static', filename='photos/uploads/' + post.image|string) }}" alt="Фото поста" class="img-fluid rounded" style="width:50%;">
                </p>
            {% endif %}
            <hr>
            <div class="row">
                {% if isLike %}
                    <div class="col-md-2 text-center">
                        <span style="font-size: 1.25rem;">Ваш голос {% if which_like %} <span class="text-success"><i class="fas fa-thumbs-up"></i></span> {% else %} <span class="text-danger"><i class="fas fa-thumbs-down"></i> </span>{% endif %}</span>
                    </div>
                {% else %}
                    <div class="col-md-1 text-center">
                        <a href="{{ url_for('api.LikePostController', id_post=post.id, loop_index=loop_index) }}"><span style="font-size: 1.5rem;" class="text-success"><i class="far fa-thumbs-up"></i></span></a>
                    </div>
                    <div class="col-md-1 text-center">
                        <a href="{{ url_for('api.DislikePostController', id_post=post.id, loop_index=loop_index) }}"><span style="font-size: 1.5rem;" class="text-danger"><i class="far fa-thumbs-down"></i></span></a>
                    </div>
                {% endif %}
                <div class="col-md-1 text-center">
                    {% if likes > 0 %}
                        <h4><span class="text-success"> <strong>+{{ likes }}</strong> </span></h4>
                    {% elif likes < 0 %}
                        <h4><span class="text-danger"> <strong>{{ likes }}</strong></span></h4>
                    {% else %}
                        <h4><span class="text-warning"> <strong>{{ likes }}</strong></span></h4>
                    {% endif %}
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="text-right text-secondary">
                        <strong><a href="{{ url_for('api.ShowOtherUser', login=post.author) }}">{{ post.author }}</a></strong> написал в {{ post.time }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"> Комментарии </h3>
            <h6 class="card-subtitle mb-2 text-muted"> Вы можете написать комментарий, чтобы автор и все пользователи увидели его и узнали Ваше мнение. </h6>
            <form action="{{ '/post/' + region.id|string + '/' + post.id|string }}" method="POST">
                {{ form.hidden_tag() }}

                <div class="form-row">
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ form.content(class_='form-control', placeholder='Напишите что-нибудь!', rows=1) }}
                            {% for error in form.errors.content %}
                                <p class="center"><span style="color: red; font-size: 0.7rem;">{{ error }}</span></p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{ form.submit(class_='btn btn-success', value='Отправить') }}
                    </div>
                </div>
            </form>

            <hr>
            <ul class="list-group list-group-flush">
                {% for i in comments %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                <strong><a href="{{ url_for('api.ShowOtherUser', login=i.author) }}">{{ i.author }}</a>&nbsp;|</strong>&nbsp; {{ i.content }}
                            </div>
                            <div class="col-md-2 text-secondary text-center">
                                {{ i.time }} <br>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}