{% extends "base.html" %}

{% block title %} Мой край {% endblock %}


{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title"> {{ region.name }} </h1>
            <p class="card-text">
                {{ region.description }}
            </p>
            {% if region.leader == current_user.login %}
                <a href="/my/world/edit" class="btn btn-outline-danger"> Добавить запись </a>
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{{ url_for('api.ChangeDescriptionRegionController', id=region.id) }}"> Изменить описание? </a>
        </div>
    </div>
    <hr>

    <h1 class="text-center"> История края </h1>
    {% for i in posts %}
        {% if i.region == region.name %}
            <div class="row">
                <div class="col-md-1">
                    <h2>#{{ loop.index }}</h2>
                </div>
                <div class="col-md-11">
                    <div class="card">
                        <div class="card-body">
                            {{ i.html|safe }}

                            {% if i.image != '0' %}
                                <p class="text-center">
                                    <img src="{{ url_for('static', filename='photos/uploads/' + i.image|string) }}" alt="Фото поста" class="img-fluid rounded" style="width:50%;">
                                </p>
                            {% endif %}

                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ url_for('api.PostPageController', id_region=region.id, loop_index=loop.index) }}" class="btn btn-outline-primary"> Написать комментарий </a>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-right text-secondary">
                                        <strong><a href="{{ url_for('api.ShowOtherUser', login=i.author) }}">{{ i.author }}</a></strong> написал в {{ i.time }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% if current_user.login == i.author %}
                            <div class="card-footer">
                                <a href="{{ url_for('api.EditStorylineController', id=i.id) }}"> Изменить? </a>
                            </div>
                        {% endif %}
                    </div>
                    <hr>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header"> Вожак края </h3>
                <div class="card-body">
                    {% if region.leader == '' %}
                        <strong> У Вашего края еще нет вожака. Админ удивлен! </strong>
                    {% else %}
                        <strong>Ваш вожак - <a href="{{ url_for('api.ShowOtherUser', login=region.leader) }}">{{ region.leader }}</a></strong>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Мир &#171;{{ region.name }}&#187;!
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>
                            {{ region.quote }}
                        </p>
                        <footer class="blockquote-footer">
                            <cite title="Source Title">{{ region.author_q }}</cite>
                        </footer>
                    </blockquote>
                </div>
                {% if region.leader == current_user.login %}
                    <div class="card-footer">
                        <a href="{{ url_for('api.ChangeQuoteController', id=region.id) }}"> Изменить девиз края? </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="/"><img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="max-width: 10%;"></a>
    </div>
</div>
{% endblock %}