{% extends "base.html" %}

{% block title %} {{ region.name }} {% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> {{ region.name }} </h2>
            <p>
                {{ region.description }}
            </p>
        </div>
    </div>
    <hr>

    <h2 class="text-center"> История края </h2>
    {% for i in posts %}
        {% if i.region == region.name %}
            <div class="row">
                <div class="col-md-1">
                    <h2> #{{ loop.index }} </h2>
                </div>
                <div class="col-md-11">
                    <div class="card">
                        <div class="card-body">
                            {{ i.html|safe }}

                            {% if i.image != '0' %}
                                <p class="text-center">
                                    <img src="{{ url_for('static', filename='photos/uploads/' + i.image|string) }}" alt="Фото поста" class="img-fluid rounded" style="width:50%;">
                                </p>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="{{ url_for('api.PostPageController', id_region=region.id, loop_index=loop.index) }}" class="btn btn-outline-primary"> Написать комментарий </a>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-right text-secondary">
                                        <strong><a href="{{ url_for('api.ShowOtherUser', login=i.author) }}">{{ i.author }}</a></strong> написал в {{ i.time }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="text-center">
    <a href="/"><img class="img-fluid" src="{{ url_for('static', filename='photos/project/monkey.svg') }}" alt="Лого" style="max-width: 10%;"></a>
</div>
{% endblock %}