{% extends "base.html" %}

{% block title %} Все края {% endblock %}
{% block worlds_tab %} <li class="nav-item active"><a class="nav-link" href="/worlds"> Все края </a></li> {% endblock %}

{% block content %}
<div class="container">
    {% for i in regions %}
        <div class="card">
            <div class="card-body">
                {% if i.name == team.region %}
                    <span class="badge badge-danger"> Это ваш край!</span>
                {% endif %}
                <h1 class="card-title"> {{ i.name }} </h1>
                <h6 class="card-subtitle mb-2 text-muted">{{ i.quote }}</h6>
                <p>
                    {{ i.description }}
                </p>
                {% if i.name == team.region %}
                    <a href="/myworld" class="btn btn-info"> Мой край </a>
                {% else %}
                    <a href="{{ url_for('api.ShowOtherRegionController', id=i.id) }}" class="btn btn-info"> Посмотреть историю края </a>
                {% endif %}
            </div>
            {% if i.leader != '' %}
                <div class="card-footer">
                    <strong> Вожак края </strong> <a href="{{ url_for('api.ShowOtherUser', login=i.leader) }}">{{ i.leader }}</a>
                </div>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}